{% extends 'base.html' %}

{% block title %}
    Unordered Inventories
{% endblock title %}

{% block content %}
    <div class="{{theme.border}}">
        <form action="{% url 'apparelManagement:inventoryReportUnOrdered' %}" method="get" autocomplete="off">
            <div class="grid grid-cols-12 {{theme.justify}} {{theme.align}}">
                <div class="flex flex-col col-[1/3] items-center relative">
                    <span class="text-sm text-gray-500 mb-1">Merchandiser:</span>
                    <select id="merchandiser" name="merchandiser" class="{{theme.dropdown}}" onclick="showSearchBox(this, '/options/users')"></select>
                </div>
                <div class="flex flex-col col-[3/5] items-center relative">
                    <span class="text-sm text-gray-500 mb-1">Inventory:</span>
                    <select id="inventory" name="inventory" class="{{theme.dropdown}}" onclick="showSearchBox(this, '/options/inventories')"></select>
                </div>
                <div class="flex flex-col col-[5/7] items-center relative">
                    <span class="text-sm text-gray-500 mb-1">Customer:</span>
                    <select id="customer" name="customer" class="{{theme.dropdown}}" onclick="showSearchBox(this, '/options/customers')"></select>
                </div>
                <div class="flex flex-col col-[7/8] items-center">
                    <span class="text-sm text-gray-500 mb-1">Type:</span>
                    <select id="type" name="type" class="{{theme.dropdown}}"></select>
                </div>
                <div class="flex flex-col col-[8/11] items-center">
                    <span class="text-sm text-gray-500 mb-1">Delivery Date:</span>
                    <div class="flex items-center" id="date-range-picker" date-rangepicker datepicker-format="yyyy-mm-dd">
                        <input id="startDate" name="startDate" type="text" class="{{theme.textInput}}" placeholder="Start" value="{{startDate}}">
                        <input id="endDate" name="endDate" type="text" class="{{theme.textInput}}" placeholder="End" value="{{endDate}}">
                    </div>
                </div>
                <div class="flex col-[11/13] btn-group {{theme.align}} justify-end ml-1">
                    <button type="submit" class="{{theme.buttonBasic}}">Search</button>
                    <a class="{{theme.buttonSecondary}}" role="button" onclick="order()">Order</a>
                </div>
            </div>
        </form>
    </div>

    <form method="POST" id="inventoryForm" autocomplete="off">
        <div class="{{theme.border}}">
            <div class="grid grid-cols-12 mt-4 x-3 {{theme.border}} {{theme.tableHead}} sticky top-16 z-40">
                <div class="flex col-[1/2] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.primaryHeading}} {{theme.textJustify}}">
                        <input type="checkbox" class="{{theme.checkbox}}" onclick="selectAll(this)">
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script>
        window.addEventListener('load', async () => {
            showLoadingIcon();

            const emptyRow = { "value": '', "text": "-----------" };

            let response = await fetch(`/options/users?search={{merchandiser}}`);
            const users = await response.json();
            users.unshift(emptyRow);
            await appendOptions('merchandiser', users, '{{merchandiser}}');

            response = await fetch(`/options/inventories?search={{inventory}}`);
            const inventories = await response.json();
            inventories.unshift(emptyRow);
            await appendOptions('inventory', inventories, '{{inventory}}');

            response = await fetch(`/options/customers?search={{customer}}`);
            const customers = await response.json();
            customers.unshift(emptyRow);
            await appendOptions('customer', customers, '{{customer}}');

            response = await fetch('/options/constypes');
            const consTypes = await response.json();
            await appendOptions('type', consTypes, '{{type}}');

            hideLoadingIcon();
        });
    </script>
{% endblock content %}