{% extends 'base.html' %}

{% block title %}
    Purchase Orders
{% endblock %}

{% block content %}
    {% csrf_token %}                        <!--This is to protect against CSRF attacks-->
    
    <div class="{{theme.border}} {{theme.formHeading}}">
        <form action="{% url 'apparelManagement:POs' %}" method="get" autocomplete="off">
            <div class="grid grid-cols-12 {{theme.justify}} {{theme.align}}">
                <div class="flex flex-col col-[1/3] items-center relative">
                    <span class="text-sm text-gray-500 mb-1">Supplier:</span>
                    <select id="supplierFilter" name="supplierFilter" onclick="showSearchBox(this, '/options/suppliers')" class="{{theme.dropdown}}">
                        <option value="">  ---------  </option>
                    </select>
                </div>
                <div class="flex flex-col col-[3/5] items-center">
                    <span class="text-sm text-gray-500 mb-1">PO Number:</span>
                    <input type="number" class="{{theme.textInput}} w-100" name="poFilter" value="{{selectedPO}}">
                </div>
                <div class="flex flex-col col-[5/7] items-center">
                    <span class="text-sm text-gray-500 mb-1">Search:</span>
                    <input type="text" class="{{theme.textInput}}" name="searchTerm" value="{{searchTerm}}">
                </div>
                <div class="flex col-[7/8] btn-group {{theme.align}} justify-end ml-1 mt-2">
                    <button type="submit" class="{{theme.buttonBasic}}">Search</button>
                </div>
                <div class="flex col-[8/13] btn-group {{theme.align}} justify-end ml-1 mt-2">
                    <a class="{{theme.buttonBasic}}" href="{% url 'apparelManagement:addPO' %}" role="button">Add Order</a>
                    <a id="copyOrderButton" class="{{theme.buttonBasic}}" role="button">Copy Order</a>
                    <a id="editOrderButton" class="{{theme.buttonBasic}}" role="button">Edit Order</a>
                    <a id="deleteOrderButton" class="{{theme.buttonBasic}}" role="button">Delete Order</a>
                </div>
            </div>
        </form>
    </div>

    <div id ="purchaseOrderTable" class="mt-6">
        <table class="{{theme.table}}">
            <tr class = "{{theme.tableHead}}">
                <th scope="col">Select</th>
                <th scope="col">Purchase Order</th>
                <th scope="col">Delivery Date</th>
                <th scope="col">Supplier</th>
                <th scope="col">Inventory (Top 3)</th>
                <th scope="col">Work Order (Top 3)</th>
            </tr>
            <tbody id="tableData" class="{{theme.tableBody}}">
                {% for data in order %}
                    <tr class="{{theme.tableBodyRow}}">
                        <td><input type="radio" name="item_checkbox" class="{{theme.radio}}"></td>
                        <td>
                            <span>
                                {{ data.PONumber }}
                            </span>
                            <span class="material-symbols-outlined" onclick="showPOPrintOptions('{{ data.PONumber }}')">
                                print
                            </span>
                        </td>
                        <td>{{ data.DeliveryDate }}</td>
                        <td>{{ data.Supplier }}</td>
                        <td>{{ data.Name }}</td>
                        <td>{{ data.WorkOrder }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="{{ theme.pagination }}">
        <div class="btn-group">
        {% if page_obj.has_previous %}
            <a href="?page=1&customerFilter={{ selectedCustomer }}&searchTerm={{ searchTerm }}" class="btn btn-sm">First</a>
            <a href="?page={{ page_obj.previous_page_number }}&customerFilter={{ selectedCustomer }}&searchTerm={{ searchTerm }}" class="btn btn-sm">Previous</a>
        {% else %}
            <button class="btn btn-sm" disabled>First</button>
            <button class="btn btn-sm" disabled>Previous</button>
        {% endif %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&customerFilter={{ selectedCustomer }}&searchTerm={{ searchTerm }}" class="btn btn-sm">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&customerFilter={{ selectedCustomer }}&searchTerm={{ searchTerm }}" class="btn btn-sm">Last</a>
        {% else %}
            <button class="btn btn-sm" disabled>Next</button>
            <button class="btn btn-sm" disabled>Last</button>
        {% endif %}
        </div>
    </div>

    <script>//To change the buttons based on selection in radio
        const dataTable = document.getElementById('tableData');
        dataTable.addEventListener('click', (event) => {
            const radio = event.target;
            const selectedOrder = radio.closest('tr').children[1].children[0].textContent.trim();

            var button = document.getElementById("copyOrderButton");
            button.href = '/purchaseorder/'+ selectedOrder + '/copy';

            button = document.getElementById("editOrderButton");
            button.href = '/purchaseorder/'+ selectedOrder + '/edit';

            button = document.getElementById("deleteOrderButton");
            button.href = '/purchaseorder/'+ selectedOrder + '/delete';
        }); 
    </script>

    <script>    //To Print a PO
        function showPOPrintOptions(poNumber) {
            const options = [
                {'value':`SUP_${poNumber}`, 'text':'For Supplier - All Variants'},
                {'value':`SUPV1_${poNumber}`, 'text':'For Supplier - Variant 1'},
                {'value':`SUPV2_${poNumber}`, 'text':'For Supplier - Variant 2'},
                {'value':`ACC_${poNumber}`, 'text':'For Accounts'},
            ];
            const selectedOption = `SUPV2_${poNumber}`;

            showDropDown(options, printPO, selectedOption, false);
        }

        async function printPO(selectedOption) {
            showLoadingIcon();

            const result = String(selectedOption).split('_');

            const selectedFormat = result[0]
            const poNumber = parseInt(result[1]);

            const csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

            const obj = {'format':selectedFormat};
            const data = JSON.stringify(obj);

            const response = await fetch('/purchaseorder/'+poNumber+'/print', {
                method: 'POST',
                body: data,
                headers: { "X-CSRFToken": csrf, "Accept": "application/pdf"},
            });

            if (!response.ok) {
                errorMessage = await response.text();
                showMessage(errorMessage);
                hideLoadingIcon();

                return ;
            }

            const pdfBlob = await response.blob();
            const pdfURL = URL.createObjectURL(pdfBlob);

            const win = window.open(pdfURL, '_blank');
            win.onafterprint = function() {
                URL.revokeObjectURL(pdfURL);
            };

            hideLoadingIcon();
        }
    </script>

    <script>//To run when the page loads
        window.addEventListener('load', async () => {
            //Supplier dropdown
            let response = await fetch(`/options/suppliers?search={{selectedSupplier}}`);
            const suppliers = await response.json();
            const emptyRow = {"value": "","text": "-----------"};
            suppliers.unshift(emptyRow);
            await appendOptions('supplierFilter', suppliers, '{{selectedSupplier}}');
        });
    </script>
{% endblock %}