{% extends 'base_print.html' %}

{% block title %}
    {{order.id}}
{% endblock %}

{% block documentName %}
    Purchase Order
{% endblock documentName %}

{% block content %}
    <!--Document main data-->
    <div class="{{theme.border}}">
        <div class="grid grid-cols-9 my-2 {{theme.justify}} {{theme.align}}">
            <div class="flex col-[1/3] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <h3 class="{{theme.headingBold}}">Order Date:</h3>
            </div>
            <div class="flex col-[3/5] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <div class="{{theme.headingNormal}}">{{order.OrderDate|date:'d-m-Y'}}</div>
            </div>
            <div class="flex col-[6/8] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <h3 class="{{theme.headingBold}}">Delivery Date:</h3>
            </div>
            <div class="flex col-[8/10] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <div class="{{theme.headingNormal}}">{{order.DeliveryDate|date:'d-m-Y'}}</div>
            </div>
        </div>
        <div class="grid grid-cols-9 {{theme.justify}} {{theme.align}}">
            <div class="flex col-[1/3] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <h3 class="{{theme.headingBold}}">Supplier:</h3>
            </div>
            <div class="flex col-[3/5] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <div class="{{theme.headingNormal}}">{{order.Supplier.Name}}</div>
            </div>
            <div class="flex col-[6/8] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <h3 class="{{theme.headingBold}}">PO Number:</h3>
            </div>
            <div class="flex col-[8/10] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <div class="{{theme.headingNormal}}">{{order.id}}</div>
            </div>
        </div>
    </div>

    <!--Document details-->
    <div id="invtable" class="w-full">
        <div class="{{theme.border}}">
            <div class="grid grid-cols-11 mt-4 x-3 {{theme.border}} {{theme.tableHead}}">
                <div class="flex col-[1/4] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.headingBold}} {{theme.textJustify}}">
                        Inventory
                    </div>
                </div>
                <div class="flex col-[4/6] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.headingBold}} {{theme.textJustify}}">
                        Variant
                    </div>
                </div>
                <div class="flex col-[6/8] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.headingBold}} {{theme.textJustify}}">
                        Unit
                    </div>
                </div>
                <div class="flex col-[8/9] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.headingBold}} {{theme.textJustify}}">
                        Quantity
                    </div>
                </div>
                <div class="flex col-[9/11] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.headingBold}} {{theme.textJustify}}">
                        Price
                    </div>
                </div>
                <div class="flex col-[11/12] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.headingBold}} {{theme.textJustify}}">
                        Amount
                    </div>
                </div>
            </div>
            {% for data in inv %}
                <div class="grid grid-cols-11 x-3 {{theme.justify}} {{theme.align}} {{theme.border}}">
                    <div class="flex col-[1/4] {{theme.align}} {{theme.justify}}">
                        <h5 class="{{theme.content}}">{{data.Name}}</h5>
                    </div>
                    <div class="flex col-[4/6] {{theme.align}} {{theme.justify}}">
                        <h5 class="{{theme.content}}">{{data.Variant}}</h5>
                    </div>
                    <div class="flex col-[6/8] {{theme.align}} {{theme.justify}}">
                        <h5 class="{{theme.content}}">{{data.Unit}}</h5>
                    </div>
                    <div class="flex col-[8/9] {{theme.align}} {{theme.justify}}">
                        <h5 class="{{theme.content}}">{{data.Quantity}}</h5>
                    </div>
                    <div class="flex col-[9/11] {{theme.align}} {{theme.justify}}">
                        <h5 class="{{theme.content}}">{{data.Currency}} {{data.Price}}</h5>
                    </div>
                    <div class="flex col-[11/12] {{theme.align}} {{theme.justify}}">
                        <h5 class="{{theme.content}}">{{data.Value}}</h5>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="{{theme.border}} mt-3" style="page-break-inside: avoid;">
        <div class="grid grid-cols-3 {{theme.justify}} {{theme.align}}">
            <div class="flex col-[1/3] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <div class="grid grid-cols-1 {{theme.justify}} {{theme.align}}">
                    <div class="flex col-[1/2] {{theme.justify}} {{theme.align}}">
                        <h3 class="{{theme.headingBold}}">Terms & Conditions:</h3>
                    </div>
                    <div class="flex col-[1/2] {{theme.justify}} {{theme.align}}">
                        <h3 class="{{theme.content}}">
                            1. A signed copy of this PO is required to be sent along with goods being dispatched.
                        </h3>
                    </div>
                    <div class="flex col-[1/2] {{theme.justify}} {{theme.align}}">
                        <h3 class="{{theme.content}}">
                            2. Goods must be as per standard and approved quality.
                        </h3>
                    </div>
                    <div class="flex col-[1/2] {{theme.justify}} {{theme.align}}">
                        <h3 class="{{theme.content}}">
                            3. Goods must be dispatched within office working hours. No goods will be accepted after working hours.
                        </h3>
                    </div>
                    <div class="flex col-[1/2] {{theme.justify}} {{theme.align}}">
                        <h3 class="{{theme.content}}">
                            4. In case of delay from agreed upon delivery date, we reserve the right to refuse or discount the goods.
                        </h3>
                    </div>
                </div>
            </div>
            <div class="flex col-[3/4] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <div class="grid grid-cols-2 {{theme.justify}} {{theme.align}}">
                    <div class="flex col-[1/3] {{theme.justify}} {{theme.align}}">
                        <h3 class="{{theme.headingBold}}">Order Summary:</h3>
                    </div>
                    <div class="flex col-[1/2] {{theme.justify}} {{theme.align}}">
                        <h3 class="{{theme.content}} font-bold">Net Amount:</h3>
                    </div>
                    <div class="flex col-[2/3] {{theme.justify}} {{theme.align}}">
                        <div class="{{theme.content}} font-right">{{summary.Currency}} {{summary.beforeTaxAmount}}/-</div>
                    </div>
                    <div class="flex col-[1/2] {{theme.justify}} {{theme.align}}">
                        <h3 class="{{theme.content}} font-bold">Tax Amount:</h3>
                    </div>
                    <div class="flex col-[2/3] {{theme.justify}} {{theme.align}}">
                        <div class="{{theme.content}} font-right">{{summary.Currency}} {{summary.tax}}/-</div>
                    </div>
                    <div class="flex col-[1/2] {{theme.justify}} {{theme.align}}">
                        <h3 class="{{theme.content}} font-bold">Grand Total:</h3>
                    </div>
                    <div class="flex col-[2/3] {{theme.justify}} {{theme.align}}">
                        <div class="{{theme.content}} font-right">{{summary.Currency}} {{summary.afterTaxAmount}}/-</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="footer footer-horizontal footer-center p-10">
        <div class="{{theme.footer}} font-bold">
            This is a system generated document and does not require signature.
        </div> 
    </div>
{% endblock %}