{% extends 'base.html' %}

{% block title %}
    Contract Approval
{% endblock title %}

{% block content %}
    <form method="POST" autocomplete="off">
        {% csrf_token %}          <!--This is to protect against CSRF attacks-->
        <div class="{{theme.border}}">
            <div class="grid grid-cols-3 my-2 {{theme.justify}} {{theme.align}}">
                <div class="flex col-[1/3] items-center">
                    <div class="card-body">
                        <h5 class="card-title {{theme.justify}}">Approval</h5>
                        <div class="grid grid-cols-1 my-2 {{theme.justify}} {{theme.align}}">
                            <div class="flex col-[1/2] items-center mt-2">
                                <label class="mx-2 whitespace-nowrap">Decision:&nbsp; </label>
                                <select class="{{theme.dropdown}} mx-2" name="Approval">
                                    <option value="None" selected> Pending </option>
                                    <option value="true"> Approve </option>
                                    <option value="false"> Reject </option>
                                </select>
                            </div>
                            <div class="flex col-[1/2] items-center mt-2 mr-2">
                                <label class="mx-2 whitespace-nowrap">Comments:&nbsp; </label>
                                <input type="text" class="{{theme.textInput}}" name="Comments">
                            </div>
                            <div class="flex col-[1/2] items-center mt-2">
                                <label class="mx-2 whitespace-nowrap">Details:&nbsp; </label>
                                <textarea class="{{theme.textInputLarge}} mx-2" roww="2" readonly>
                                    {{contract.Description}}
                                </textarea>
                            </div>
                            <div class="flex col-[1/2] items-center mt-2">
                                <button type="submit" class="{{theme.buttonBasic}} mx-2" >Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex col-[3/4] items-center">
                    <div class="card-body">
                        <h5 class="card-title {{theme.justify}}">Background Data</h5>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}