{% extends 'base_print.html' %}

{% block title %}
    {{contract.id}}
{% endblock %}

{% block orientation %}
    landscape
{% endblock orientation %}

{% block documentName %}
    Outsource Contract
{% endblock documentName %}

{% block content %}
    <!--Document main data-->
    <div class="{{theme.border}}">
        <div class="grid grid-cols-9 my-2 {{theme.justify}} {{theme.align}}">
            <div class="flex col-[1/3] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <h3 class="{{theme.headingBold}}">Induction Date:</h3>
            </div>
            <div class="flex col-[3/5] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <div class="{{theme.headingNormal}}">{{contract.StartDate|date:'d-m-Y'}}</div>
            </div>
            <div class="flex col-[6/8] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <h3 class="{{theme.headingBold}}">Closing Date:</h3>
            </div>
            <div class="flex col-[8/10] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <div class="{{theme.headingNormal}}">{{contract.EndDate|date:'d-m-Y'}}</div>
            </div>
        </div>
        <div class="grid grid-cols-9 {{theme.justify}} {{theme.align}}">
            <div class="flex col-[1/3] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <h3 class="{{theme.headingBold}}">Supplier:</h3>
            </div>
            <div class="flex col-[3/5] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <div class="{{theme.headingNormal}}">{{contract.Source}}</div>
            </div>
            <div class="flex col-[6/8] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <h3 class="{{theme.headingBold}}">Contract #:</h3>
            </div>
            <div class="flex col-[8/10] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <div class="{{theme.headingNormal}}">{{contract.id}}</div>
            </div>
        </div>
    </div>

    <!--Document details-->
    <div id="detailsTable" class="w-full">
        <div class="{{theme.border}}">
            <div class="grid grid-cols-8 mt-4 x-3 {{theme.border}} {{theme.tableHead}}">
                <div class="flex col-[1/2] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.headingBold}} {{theme.textJustify}}">
                        Work Order
                    </div>
                </div>
                <div class="flex col-[2/4] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.headingBold}} {{theme.textJustify}}">
                        Style
                    </div>
                </div>
                <div class="flex col-[4/5] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.headingBold}} {{theme.textJustify}}">
                        Variant
                    </div>
                </div>
                <div class="flex col-[5/6] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.headingBold}} {{theme.textJustify}}">
                        Process
                    </div>
                </div>
                <div class="flex col-[6/7] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.headingBold}} {{theme.textJustify}}">
                        Quantity
                    </div>
                </div>
                <div class="flex col-[7/8] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.headingBold}} {{theme.textJustify}}">
                        Price
                    </div>
                </div>
                <div class="flex col-[8/9] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.headingBold}} {{theme.textJustify}}">
                        Value
                    </div>
                </div>
            </div>
            {% for data in details %}
                <div class="grid grid-cols-8 x-3 {{theme.justify}} {{theme.align}} {{theme.border}}">
                    <div class="flex col-[1/2] {{theme.align}} {{theme.justify}}">
                        <h5 class="{{theme.content}}">{{data.WorkOrder}}</h5>
                    </div>
                    <div class="flex col-[2/4] {{theme.align}} {{theme.justify}}">
                        <h5 class="{{theme.content}}">{{data.Style}}</h5>
                    </div>
                    <div class="flex col-[4/5] {{theme.align}} {{theme.justify}}">
                        <h5 class="{{theme.content}}">{{data.Variant}}</h5>
                    </div>
                    <div class="flex col-[5/6] {{theme.align}} {{theme.justify}}">
                        <h5 class="{{theme.content}}">{{data.Stage}}</h5>
                    </div>
                    <div class="flex col-[6/7] {{theme.align}} {{theme.justify}}">
                        <h5 class="{{theme.content}}">{{data.Quantity}}</h5>
                    </div>
                    <div class="flex col-[7/8] {{theme.align}} {{theme.justify}}">
                        <h5 class="{{theme.content}}">{{data.Price}}</h5>
                    </div>
                    <div class="flex col-[8/9] {{theme.align}} {{theme.justify}}">
                        <h5 class="{{theme.content}}">{{data.Value}}</h5>
                    </div>
                </div>
            {% endfor %}  
        </div>
    </div>

    <div class="{{theme.border}} mt-3" style="page-break-inside: avoid;">
        <div class="grid grid-cols-3 {{theme.justify}} {{theme.align}}">
            <div class="flex col-[1/3] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <div class="grid grid-cols-1 {{theme.justify}} {{theme.align}}">
                    <div class="flex col-[1/2]">
                        <h3 class="{{theme.headingBold}}">Terms & Conditions:</h3>
                    </div>
                    <div class="flex col-[1/2]">
                        <h3 class="{{theme.content}}">
                            1. Payment would be done 15 days after receipt of invoice.
                        </h3>
                    </div>
                    <div class="flex col-[1/2]">
                        <h3 class="{{theme.content}}">
                            2. Allowed rejection based on order size is as below.
                        </h3>
                    </div>
                    <div class="flex col-[1/2]">
                        <h3 class="{{theme.content}} ml-4">
                            a. 3% Rejection will be allowed for Order Quantity above 5000
                        </h3>
                    </div>
                    <div class="flex col-[1/2]">
                        <h3 class="{{theme.content}} ml-4">
                            a. 4% Rejection will be allowed for Order Quantity between 2000 to 5000
                        </h3>
                    </div>
                    <div class="flex col-[1/2]">
                        <h3 class="{{theme.content}} ml-4">
                            a. 6% Rejection will be allowed for Order Quantity below 2000
                        </h3>
                    </div>
                    <div class="flex col-[1/2]">
                        <h3 class="{{theme.content}}">
                            3. Rejection above the allowed limit will be charged to the Unit at Rs 1000/- per pc
                        </h3>
                    </div>
                    <div class="flex col-[1/2]">
                        <h3 class="{{theme.content}}">
                            4. Short Quantity will not be allowed and will be charged Rs 1000/- per pc, if any.
                        </h3>
                    </div>
                    <div class="flex col-[1/2]">
                        <h3 class="{{theme.content}}">
                            5. Adherence to the agreed upon delivery date is mandatory and Softwood reserves the right to discount the price, in case of any delays.
                        </h3>
                    </div>
                    <div class="flex col-[1/2]">
                        <h3 class="{{theme.content}} ml-4">
                            a. If the delay ≥6 days, then 4 Rs/pc will be deducted.
                        </h3>
                    </div>
                    <div class="flex col-[1/2]">
                        <h3 class="{{theme.content}} ml-4">
                            b. If the delay ≥10 days, then 8 Rs/pc will be deducted.
                        </h3>
                    </div>
                    <div class="flex col-[1/2]">
                        <h3 class="{{theme.content}} ml-4">
                            c. If the delay ≥14 days, then 20 Rs/pc will be deducted.
                        </h3>
                    </div>
                    <div class="flex col-[1/2]">
                        <h3 class="{{theme.content}}">
                            6. Softwood reserves the right to inspect the quality of product at vendor before lifting the goods back.
                        </h3>
                    </div>
                    <div class="flex col-[1/2]">
                        <h3 class="{{theme.content}}">
                            7. Any raw material must be checked before lifted from Softwood, and all un-used material must be returned at the time of delivery.
                        </h3>
                    </div>
                    <div class="flex col-[1/2]">
                        <h3 class="{{theme.content}}">
                            8. Any chemicals used in the process must be in accordance with the guidlines from Softwood Compliance Department.
                        </h3>
                    </div>
                </div>
            </div>
            <div class="flex col-[3/4] h-full {{theme.justify}} {{theme.border}}">
                <div class="grid grid-cols-2 {{theme.justify}} content-start">
                    <div class="flex col-[1/3] {{theme.justify}} {{theme.align}}">
                        <h3 class="{{theme.headingBold}}">Contract Summary:</h3>
                    </div>
                    <div class="flex col-[1/2] {{theme.justify}} {{theme.align}}">
                        <h3 class="{{theme.content}} font-bold">Net Amount:</h3>
                    </div>
                    <div class="flex col-[2/3] {{theme.justify}} {{theme.align}}">
                        <div class="{{theme.content}} font-right">{{summary.ValueBeforeTax}}</div>
                    </div>
                    <div class="flex col-[1/2] {{theme.justify}} {{theme.align}}">
                        <h3 class="{{theme.content}} font-bold">Tax Amount:</h3>
                    </div>
                    <div class="flex col-[2/3] {{theme.justify}} {{theme.align}}">
                        <div class="{{theme.content}} font-right">{{summary.TaxAmount}}</div>
                    </div>
                    <div class="flex col-[1/2] {{theme.justify}} {{theme.align}}">
                        <h3 class="{{theme.content}} font-bold">Grand Total:</h3>
                    </div>
                    <div class="flex col-[2/3] {{theme.justify}} {{theme.align}}">
                        <div class="{{theme.content}} font-right">{{summary.GrandTotal}}</div>
                    </div>
                    <div class="flex col-[1/3] {{theme.justify}} {{theme.align}} h-32">
                        
                    </div>
                    <div class="flex col-[1/3] {{theme.justify}} {{theme.align}}">
                        <h3 class="{{theme.headingBold}} border-t border-gray-400 pt-1 ">Supplier Sign and Stamp</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
    <div class="footer footer-horizontal footer-center p-10">
        <div class="{{theme.footer}} font-bold">
            This document is digitaly approved by {{contract.ApprovedBy}} and does not require signature from us.
        </div> 
    </div>
{% endblock footer %}