{% extends 'base.html' %}

{% block title %}
    Supplier Aliasing
{% endblock title %}

{% block content %}
    {% csrf_token %}          <!--This is to protect against CSRF attacks-->
    
    <!-- The main filter form-->
    <div class="{{theme.border}} {{theme.formHeading}}">
        <form action="{% url 'marketing:refineExporters' %}" method="get" autocomplete="off">
            <div class="grid grid-cols-3 my-2 {{theme.justify}} {{theme.align}}">
                <div class="flex flex-col col-[1/2] items-center">
                    <span class="text-sm text-gray-500 mb-1">Show Only:</span>
                    <select id="filterMethod" name="filterMethod" class="{{theme.dropdown}}" onchange="this.form.submit()">
                        <option value="pending" 
                            {% if filterMethod == 'pending' %}
                                selected
                            {% endif %}
                            >Not Added</option>
                        <option value="previous"
                            {% if filterMethod == 'previous' %}
                                selected
                            {% endif %}
                            >Already Added</option>
                    </select>
                </div>
                <div class="flex flex-col col-[2/3] items-center">
                    <span class="text-sm text-gray-500 mb-1">Search:</span>
                    <input name="search" type="text" class="{{theme.textInput}}" value="{{search}}">
                </div>
                <div class="flex col-[3/4] btn-group {{theme.align}} justify-end ml-1">
                    <button type="submit" class="{{theme.buttonBasic}}">Search</button>
                    <button type="button" class="{{theme.buttonSecondary}}" onclick="submitForms()">Save</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Aliasing Table -->
    <form method="POST" id="aliasForm" autocomplete="off">
        <div class="{{theme.border}} overflow-x-auto">
            <div class="grid grid-cols-3 mt-4 x-3 {{theme.border}} {{theme.tableHead}}" row="0">
                <div class="flex col-[1/3] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.primaryHeading}} {{theme.textJustify}}">
                        Full Name
                    </div>
                </div>
                <div class="flex col-[3/4] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.primaryHeading}} {{theme.textJustify}}">
                        Alias
                    </div>
                </div>
            </div>
            {% for data in exportersData %}
                <div class="grid grid-cols-3 x-3 {{theme.justify}} {{theme.align}} {{theme.border}}" row="{{forloop.counter}}">
                    <div class="flex col-[1/3] {{theme.align}} {{theme.justify}}">
                        <input type="text" class="{{theme.textInput}}" value="{{data.Exporter}}" name="Exporter" readonly>
                    </div>
                    <div class="flex col-[3/4] {{theme.align}} {{theme.justify}}">
                        <input type="text" class="{{theme.textInput}}" value="{{data.Alias}}" name="Alias">
                    </div>
                    <div hidden>
                    </div>
                </div>
            {% endfor %}                
        </div>
    </form>

    <!--Pagination Area-->
    <div class="flex justify-center my-4 text-sm text-gray-500">
        Showing results {{currentCount}} of {{totalCount}}
    </div>

    <script>
        async function submitForms() {
            showLoadingIcon();

            //Get all the forms in the page
            const allForms = document.forms;

            const aliasForm = allForms['aliasForm'];

            const data = formToTable('alias', aliasForm, {});
            console.log(data);
            
            const response = await submitData(data);

            if (response.ok) {
                window.location.reload();
            } else {
                const errorMessage = await response.text();
                showMessage(errorMessage, 5, `{{theme.errorBox}}`);
            }

            hideLoadingIcon();
        }

        async function submitData(obj) {
            const csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

            const data = JSON.stringify(obj);

            const response = await fetch('', {
              method: 'POST',
              body: data,
              headers: { "X-CSRFToken": csrf},
            });

            return response;
        }
    </script>
    
{% endblock content %}