{% extends 'base.html' %}

{% block title %}
    Customer Master File
{% endblock title %}

{% block content %}
    <div class="{{theme.border}}">
        <form action="{% url 'marketing:exportData' %}" method="get" autocomplete="off">
            <div class="grid grid-cols-8 {{theme.justify}} {{theme.align}}">
                <div class="flex flex-col col-[1/3] items-center">
                    <span class="text-sm text-gray-500 mb-1">Search:</span>
                    <input type="text" class="{{theme.textInput}}" name="search" value="{{search}}">
                </div>
                <div class="flex flex-col col-[3/6] items-center">
                    <span class="text-sm text-gray-500 mb-1">Shipment Date:</span>
                    <div class="flex items-center" id="date-range-picker" date-rangepicker datepicker-format="yyyy-mm-dd">
                        <input id="startDate" name="startDate" type="text" class="{{theme.textInput}}" value="{{startDate}}">
                        <input id="endDate" name="endDate" type="text" class="{{theme.textInput}}" value="{{endDate}}">
                    </div>
                </div>
                <div class="flex col-[6/9] btn-group {{theme.align}} justify-end">
                    <a class="{{theme.buttonSecondary}}" role="button" onclick="resetFilters()">Reset</a>
                    <button type="submit" class="{{theme.buttonBasic}}">Filter</button>
                </div>
            </div>
            <div class="grid grid-cols-2 {{theme.justify}} {{theme.align}} mt-6">
                <div class="flex col-[1/3] btn-group {{theme.align}} justify-end">
                    <a class="{{theme.buttonBasic}}" href="{% url 'marketing:exportDataUpload' %}" role="button">Upload</a>
                    <a class="{{theme.buttonSecondary}}" href="{% url 'marketing:confirmExportDataUpload' %}" role="button">Confirm Upload</a>
                    <a class="{{theme.buttonSecondary}}" href="{% url 'marketing:confirmExportDataUpload' %}" role="button">Refine Alias</a>
                </div>
            </div>
            <div id="countriesFilterDiv" hidden>
                {% for country in countries %}
                    <input name="countries[]" type="text" data-country-code="{{country}}" value="{{country}}">
                {% endfor %}
            </div>
            <div id="importersFilterDiv" hidden>
                {% for importer in importers %}
                    <input name="importers[]" type="text" data-importer-name="{{importer}}" value="{{importer}}">
                {% endfor %}
            </div>
        </form>
    </div>

    <!--The Charts-->
    <div class="{{theme.border}}">
        <div class="grid grid-cols-4 {{theme.justify}} {{theme.align}}">
            <div class="flex flex-col col-[1/2] items-center">
                <div class="card w-full max-w-xs bg-base-100 shadow-xl rounded-lg p-6 {{theme.border}}">
                    <h2 class="card-title text-xl font-bold mb-4">Country</h2>
                    <input id="countrySearch" type="text" placeholder="Type to search" class="input text-xs input-bordered w-full mb-4" />
                    <ul id="countrySelector" class="menu bg-base-100 rounded-box w-full max-h-[15rem] overflow-y-auto"></ul>
                </div>
            </div>
            <div class="flex flex-col col-[2/3] items-center">
                <div class="card w-full max-w-xs bg-base-100 shadow-xl rounded-lg p-6 {{theme.border}}">
                    <h2 class="card-title text-xl font-bold mb-4">Importer</h2>
                    <input id="importerSearch" type="text" placeholder="Type to search" class="input text-xs input-bordered w-full mb-4" />
                    <ul id="importerSelector" class="menu bg-base-100 rounded-box w-full max-h-[15rem] overflow-y-auto"></ul>
                </div>
            </div>
        </div>
    </div>

    <script>    //To apply search on a selection box
        function applySearch(searchTerm, selectorElement) {
            const elements = selectorElement.children;

            for (const element of elements) {
                const value = element.children[0].children[0].children[0].textContent.toLowerCase();
                
                if (searchTerm === '' || value.includes(searchTerm)) {
                    element.style.display = '';
                } else {
                    element.style.display = 'none';
                }
            }
        }
    </script>

    <script>    //To populate the countries selector
        const countrySelector = document.getElementById('countrySelector');
        const countrySearch = document.getElementById('countrySearch');
        const countriesFilterDiv = document.getElementById('countriesFilterDiv');

        let allCountriesData = [];
        let searchTimer;
        
        async function populateCountries(params, selectedCountries) {
            const url = "{% url 'marketing:exportDataCountries' %}";
            const response = await fetch(`${url}?${params}`);

            if (!response.ok) {
                const error = await response.text();
                showMessage(error);
                return ;
            }

            allCountriesData = await response.json();

            renderCountries(allCountriesData, selectedCountries);

            countrySelector.addEventListener('change', (event) => {
                if (event.target.type === 'checkbox') {
                    const selectedCountryCode = event.target.value;
                    const isChecked = event.target.checked;
                    changeCountryFilter(selectedCountryCode, isChecked);
                }
            });

            countrySearch.addEventListener('input', (event) => {
                clearTimeout(searchTimer);
                const searchTerm = event.target.value.toLowerCase();
                
                searchTimer = setTimeout(() => {
                    applySearch(searchTerm, countrySelector);
                }, 500);
            });
        }

        function renderCountries(countries, selectedCountries) {
            countrySelector.innerHTML = '';

            if (!countries.length) {
                countrySelector.innerHTML = 'No Data Found';
                return;
            }

            const fragment = document.createDocumentFragment();

            countries.forEach(country => {
                const li = document.createElement('li');
                const isSelected = selectedCountries.includes(country.CountryCode);

                li.innerHTML = `
                    <label class="label cursor-pointer p-2">
                        <span class="label-text">
                            <span class="font-semibold" data-country-name="${country.CountryName}">${country.CountryName}</span>
                            <span class="text-xs text-gray-500 ml-2">${country.Quantity}</span>
                        </span>
                        <input type="checkbox" class="checkbox" value="${country.CountryCode}" ${isSelected ? 'checked' : ''}>
                    </label>
                `;
                fragment.appendChild(li);
            });

            countrySelector.appendChild(fragment);
        }

        function changeCountryFilter(countryCode, checkStatus) {
            if (checkStatus) {
                const inputElement = document.createElement('input');
                inputElement.name = 'countries[]';
                inputElement.type = 'text';

                inputElement.value = countryCode; 
                
                inputElement.dataset.countryCode = countryCode;
                
                countriesFilterDiv.appendChild(inputElement);
            } else {
                const inputToRemove = countriesFilterDiv.querySelector(`input[data-country-code="${countryCode}"]`);

                countriesFilterDiv.removeChild(inputToRemove);
            }
        }
    </script>

    <script>    //To populate the importer selector
        const importerSelector = document.getElementById('importerSelector');
        const importerSearch = document.getElementById('importerSearch');
        const importersFilterDiv = document.getElementById('importersFilterDiv')

        let allImportersData = [];

        async function populateImporters(params, selectedImporters) {
            const url = "{% url 'marketing:exportDataImporters' %}";
            const response = await fetch(`${url}?${params}`);
            
            if (!response.ok) {
                const error = await response.text();
                showMessage(error);
                return ;
            }

            allImportersData = await response.json();

            renderImporters(allImportersData, selectedImporters);

            importerSelector.addEventListener('change', (event) => {
                if (event.target.type === 'checkbox') {
                    const selectedImporterName = event.target.value;
                    const isChecked = event.target.checked;
                    changeImporterFilter(selectedImporterName, isChecked);
                }
            });

            importerSearch.addEventListener('input', (event) => {
                clearTimeout(searchTimer);
                const searchTerm = event.target.value.toLowerCase();
                
                searchTimer = setTimeout(() => {
                    applySearch(searchTerm, importerSelector);
                }, 500);
            });
        }

        function renderImporters (importers, selectedImporters) {
            importerSelector.innerHTML = '';

            if (!importers.length) {
                importerSelector.innerHTML = 'No Data Found';
                return;
            }

            const fragment = document.createDocumentFragment();

            importers.forEach(importer => {
                const li = document.createElement('li');
                const isSelected = selectedImporters.includes(importer.Importer);

                li.innerHTML = `
                    <label class="label cursor-pointer p-2">
                        <span class="label-text">
                            <span class="font-semibold" data-country-name="${importer.Importer}">${importer.Importer}</span>
                            <span class="text-xs text-gray-500 ml-2">${importer.Quantity}</span>
                        </span>
                        <input type="checkbox" class="checkbox" value="${importer.Importer}" ${isSelected ? 'checked' : ''}>
                    </label>
                `;
                fragment.appendChild(li);
            });
            importerSelector.appendChild(fragment);
        }
        
        function changeImporterFilter(importerName, checkStatus) {
            if (checkStatus) {
                const inputElement = document.createElement('input');
                inputElement.name = 'importers[]';
                inputElement.type = 'text';

                inputElement.value = importerName; 
                
                inputElement.dataset.importerName = importerName;
                
                importersFilterDiv.appendChild(inputElement);
            } else {
                const inputToRemove = importersFilterDiv.querySelector(`input[data-importer-name="${importerName}"]`);

                importersFilterDiv.removeChild(inputToRemove);
            }
        }

    </script>

    <script>    //To rest filters
        function resetFilters() {
            const countriesFilterDiv = document.getElementById('countriesFilterDiv');
            countriesFilterDiv.innerHTML = '';

            const form = countriesFilterDiv.closest('form');
            form.submit();
        }
    </script>

    <script> //To run when the page loads
        window.addEventListener('load', async () => {
            showLoadingIcon();

            const startDate = document.getElementById('startDate').value;
            const endDate = document.getElementById('endDate').value;
            const filterDiv = document.getElementById('countriesFilterDiv');
            const countryInputs = countriesFilterDiv.querySelectorAll('input[name="countries[]"]');

            const params = new URLSearchParams({
                'startDate': startDate,
                'endDate': endDate,
            })

            countryInputs.forEach(input => {
                params.append('countries[]', input.value);
            });

            const selectedCountries = {{ countriesJson|safe }};
            const selectedImporters = {{ importersJson|safe}};

            populateCountries(params.toString(), selectedCountries);

            populateImporters(params.toString(), selectedImporters);

            hideLoadingIcon();
        });
    </script>
{% endblock content %}