{% extends 'base.html' %}

{% block title %}
    Customer Master File
{% endblock title %}

{% block content %}
    <div class="{{theme.border}}">
        <div class="flex btn-group gap-2 {{theme.align}} {{theme.justify}} mt-2">
            <a class="{{theme.buttonBasic}}" href="{% url 'marketing:exportDataUpload' %}" role="button">Add new Data</a>
            <a class="{{theme.buttonSecondary}}" href="{% url 'marketing:confirmExportDataUpload' %}" role="button">Approve Added Data</a>
        </div>
        <div class="flex btn-group gap-2 {{theme.align}} {{theme.justify}} mt-2">
            <a class="{{theme.buttonBasic}}" href="{% url 'marketing:refineImporters' %}" role="button">Customer Alias</a>
            <a class="{{theme.buttonBasic}}" href="{% url 'marketing:refineExporters' %}" role="button">Supplier Alias</a>
        </div>
    </div>
{% endblock content %}