{% extends 'base.html' %}

{% block title %}
    Work Order Update
{% endblock %} 

{% block content %}
    {% csrf_token %}                        <!--This is to protect against CSRF attacks-->        
    <!-- The main Order form-->
    <form method="POST" id="orderForm" autocomplete="off" class="{{theme.formHeading}}">
        <div class="{{theme.border}}">
            <div class="grid grid-cols-12 my-2 {{theme.justify}} {{theme.align}}">
                <div class="flex col-[1/4] items-center">
                    <label class="mx-2 whitespace-nowrap">Order#:&nbsp; </label>
                    <input id="id_Order" type="number" class="{{theme.textInput}}" value="{{order.OrderNumber}}" name="OrderNumber" onchange="changePrimaryKey(this)">
                </div>
                <div class="flex col-[4/7] items-center relative">
                    <label class="mx-2 whitespace-nowrap">Style:&nbsp; </label>
                    <select id="id_Style" class="{{theme.dropdown}}" name="Style" onclick="showSearchBox(this, '/options/styles')"></select>
                    <button type="button" class="material-symbols-outlined {{theme.hyperLink}}" onclick="window.open('/style/{{order.StyleCode}}/edit', '_blank');">open_in_new</button>
                </div>
                <div class="flex col-[7/9] items-center relative">
                    <label class="mx-2 whitespace-nowrap">Customer:&nbsp; </label>
                    <select id="id_Customer" class="{{theme.dropdown}}" name="Customer" onclick="showSearchBox(this, '/options/customers')"> </select>
                </div>
                <div class="flex col-[9/11] items-center">
                    <label class="mx-2 whitespace-nowrap">DD:&nbsp; </label>
                    <input name="DeliveryDate" id="datepicker-format" datepicker datepicker-autohide datepicker-format="yyyy-mm-dd" type="text" class="{{theme.textInput}}" value="{{order.DeliveryDate|date:'Y/m/d'}}" placeholder="Select date">
                </div>
                <div class="flex col-[11/13] items-center">
                    <label class="mx-2 whitespace-nowrap">Type:&nbsp; </label>
                    <select id="id_Type" class="{{theme.dropdown}}" name="Type"></select>
                </div>
            </div>
            <div class="grid grid-cols-12 my-2 {{theme.justify}} {{theme.align}} mt-2">
                <div class="flex col-[1/3] items-center">
                    <label class="mx-2 whitespace-nowrap">Currency:&nbsp; </label>
                    <select id="id_Currency" class="{{theme.dropdown}}" name="Currency"></select>
                </div>
                <div class="flex col-[3/5] items-center">
                    <label class="mx-2 whitespace-nowrap">Price:&nbsp; </label>
                    <input type="number" class="{{theme.textInput}}" value="{{order.Price}}" name="Price">
                </div>
                <div class="flex col-[5/7] items-center">
                    <label class="mx-2 whitespace-nowrap">Wastage%:&nbsp; </label>
                    <input type="number" class="{{theme.textInput}}" value="{{order.ExcessCut}}" name="ExcessCut">
                </div>
                <div class="flex col-[7/9] items-center">
                    <label class="mx-2 whitespace-nowrap">Quantity:&nbsp; </label>
                    <input type="number" class="{{theme.textInput}}" value="{{order.Quantity}}" name="Quantity" id="id_orderQty" readonly>
                </div>
                <div class="flex col-[9/13] items-center">
                    <a id="submit" class="{{theme.buttonBasic}}" role="button" onclick="submitForms()">Save</a>
                    <a class="{{theme.buttonSecondary}}" role="button" onclick="showPrintBox()">Print</a>
                </div>
            </div>
        </div>
    </form>

    <!-- The action Buttons -->
    <div class="{{theme.formActions}}">
        <div class="grid grid-cols-3 my-2 {{theme.justify}} {{theme.align}} {{theme.formActiions}}">
            <div class="flex col-[1/3] btn-group {{theme.align}} justify-end ml-1">
                <a class="{{theme.buttonSecondary}}" href="/purchaseorder/autogen?startingOrder={{order.OrderNumber}}"
                    role="button" target="_blank">Auto Req.</a>
                <button id="btn_calculatReq" class="{{theme.buttonSecondary}}" type="button" onclick="showSelectionBox()">
                    Generate PO
                </button>
                <button id="btn_calculatReq" class="{{theme.buttonSecondary}}" type="button" onclick="calculateRequirement()">
                    Calculate Requirement
                </button>
            </div>
            <div class="flex col-[3/4] btn-group {{theme.align}} justify-end ml-1">
                <button id="btn_requirementForm" class="{{theme.buttonBasic}}" type="button" onclick="changeView('requirementForm')">Requirement</button>
                <button id="btn_variantForm" class="{{theme.buttonBasic}}" type="button" onclick="changeView('variantForm')">Variants</button>
            </div>
        </div>
    </div>

    <!-- Order Inventory Requirement -->
    <form method="POST" id="requirementForm" autocomplete="off" hidden>
        <div class="flex-1 overflow-y-auto {{theme.border}}">
            <div class="grid grid-cols-12 mt-4 {{theme.border}} {{theme.tableHead}}" row="0">
                <div class="flex col-[1/2] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.primaryHeading}} {{theme.textJustify}}">
                        <input type="checkbox" class="{{theme.checkbox}}" onclick="selectAll(this)">
                    </div>
                </div>
                <div class="flex col-[2/5] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.primaryHeading}} {{theme.textJustify}}">
                        Inventory
                    </div>
                </div>
                <div class="flex col-[5/7] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.primaryHeading}} {{theme.textJustify}}">
                        Variant
                    </div>
                </div>
                <div class="flex col-[7/9] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.primaryHeading}} {{theme.textJustify}}">
                        Required
                    </div>
                </div>
                <div class="flex col-[9/11] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.primaryHeading}} {{theme.textJustify}}">
                        Ordered
                    </div>
                </div>
                <div class="flex col-[11/13] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.primaryHeading}} {{theme.textJustify}}">
                        Received
                    </div>
                </div>
            </div>
            {% for data in req %}
                <div class="grid grid-cols-12 {{theme.justify}} {{theme.align}} {{theme.border}}" row="{{forloop.counter}}">
                    <div class="flex col-[1/2] {{theme.align}} {{theme.justify}}">
                        <input type="checkbox" class="{{theme.checkbox}} {{data.Color}}">
                        <span class="material-symbols-outlined {{data.Color}}" style="font-size: 24px;" onclick="getContextForRequirement(event)">info</span>
                    </div>
                    <div hidden>
                        <input value="{{data.id}}" class="{{theme.textInput}}" name="id">
                    </div>
                    <div hidden>
                        <input value="{{data.InventoryCode}}" class="{{theme.textInput}}" name="InventoryCode">
                    </div>
                    <div class="flex col-[2/5] {{theme.align}} {{theme.justify}}">
                        <input type="text" class="{{theme.textInputTransparent}} {{data.Color}}" value="{{data.InventoryName}}" name="InventoryName" readonly>
                    </div>
                    <div class="flex col-[5/7] {{theme.align}} {{theme.justify}}">
                        <input type="text" class="{{theme.textInputTransparent}} {{data.Color}}" value="{{data.Variant}}" name="Variant" readonly>
                    </div>
                    <div class="flex col-[7/9] {{theme.align}} {{theme.justify}}">
                        <input type="number" step="0.01" class="{{theme.textInputTransparent}} {{data.Color}}" value="{{data.Quantity}}" name="Quantity">
                    </div>
                    <div class="flex col-[9/11] {{theme.align}} {{theme.justify}}">
                        <input type="number" class="{{theme.textInputTransparent}} {{data.Color}}" value="{{data.Ordered}}" name="Ordered" readonly>
                    </div>
                    <div class="flex col-[11/13] {{theme.align}} {{theme.justify}}">
                        <input type="number" class="{{theme.textInputTransparent}} {{data.Color}}" value="{{data.Received}}" name="Received" readonly>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>

    <!-- Order Variants -->
    <form method="POST" id="variantForm" autocomplete="off" hidden>
        <div class="{{theme.border}}">
            <div class="grid grid-cols-7 mt-4 px-3 {{theme.border}} {{theme.tableHead}}" row="0">
                <div class="flex col-[1/4] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.primaryHeading}} {{theme.textJustify}}">
                        Variant Name
                    </div>
                </div>
                <div class="flex col-[4/5] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.primaryHeading}} {{theme.textJustify}}">
                        Quantity
                    </div>
                </div>
                <div class="flex col-[5/7] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.primaryHeading}} {{theme.textJustify}}">
                        Description
                    </div>
                </div>
                <div class="flex col-[7/8] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.primaryHeading}} {{theme.textJustify}}">
                        Actions
                    </div>
                </div>
            </div>
            {% for data in var %}
                <div class="grid grid-cols-7 x-3 {{theme.justify}} {{theme.align}} {{theme.border}}" row="{{forloop.counter}}">
                    <div class="flex col-[1/4] {{theme.align}} {{theme.justify}}">
                        <input type="text" class="{{theme.textInput}}" value="{{data.Name}}" name="VariantCode">
                    </div>
                    <div class="flex col-[4/5] {{theme.align}} {{theme.justify}}">
                        <input type="number" class="{{theme.textInput}}" value="{{data.Quantity}}" name="Quantity" onchange="calculateQuantity()">
                    </div>
                    <div class="flex col-[5/7] {{theme.align}} {{theme.justify}}">
                        <input type="text" class="{{theme.textInput}}" name="Description" value="{{data.Description}}">
                    </div>
                    <div class="flex col-[7/8] space-x-1 {{theme.align}} {{theme.justify}}">
                        <button class="{{theme.plusButton}}" type="button" onclick="addRow(this)">
                            <span>+</span>
                        </button>
                        <button class="{{theme.minusButton}}" type="button" onclick="removeRow(this)">
                            <span>-</span>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>

    <!--Requirement history box-->
    <div id="historyContainer" class="card bg-base-200 shadow-xl absolute hidden">
        <div class="card-body p-4 pt-10 pr-10 relative">
            <button id="historyCloseButton" class="btn btn-sm btn-circle absolute right-2 top-2">✕</button>

            <h2  class="card-title text-sm">Requirement History</h2>
            <div class="overflow-x-auto">
                <table class="table table-sm w-full text-sm">
                    <thead>
                        <tr>
                            <th class="text-center">Receipt Number</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Type</th>
                            <th class="text-center">Source</th>
                            <th class="text-center">Total Qty</th>
                            <th class="text-center">Allocated Qty</th>
                        </tr>
                    </thead>
                    <tbody id="historytData" >
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script> //To change view based on selected button
        const formIds = ['variantForm', 'requirementForm'];

        function changeView(formId){
            let forms = [];

            for (let i=0;i<formIds.length;i++) {
                forms[i] = document.getElementById (formIds[i]);
                const button = document.getElementById(`btn_${formIds[i]}`);
                if (formId === formIds[i]){
                    forms[i].hidden = false;
                    button.className = `{{theme.buttonSelected}}`;
                } else {
                    forms[i].hidden = true;
                    button.className = `{{theme.buttonBasic}}`;
                }
            }
        }

    </script>

    <script> //To run when the page loads
        window.addEventListener('load', async () => {
            showLoadingIcon();

            //Styles Dropdown
            let response = await fetch('/options/styles?search={{order.StyleCode}}');
            const styles = await response.json();
            await appendOptions('id_Style', styles, "{{order.StyleCode}}");

            //Customer dropdown
            response = await fetch('/options/customers?search={{order.Customer}}');
            const customers = await response.json();
            await appendOptions('id_Customer', customers, "{{order.Customer}}");

            //Order Types dropdown
            response = await fetch('/options/ordertypes');
            const orderTypes = await response.json();
            await appendOptions('id_Type', orderTypes, "{{order.Type}}");

            //Currencies dropdown
            response = await fetch('/options/currencies');
            const currencies = await response.json();
            await appendOptions('id_Currency', currencies, "{{order.Currency}}");

            hideLoadingIcon();
        });
    </script>

    <script> //To Calculate Requirement from selected style
        async function calculateRequirement(){
            showLoadingIcon();

            const styleCode = document.getElementById('id_Style').value;
            const orderNumber = document.getElementById('id_Order').value;
            data = JSON.stringify({styleCode:styleCode, orderNumber:orderNumber});
            
            const csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

            const objects = document.getElementById('requirementForm').children[0].children;
            const reqTableRows = Array.from(objects).slice(1);

            for (let i=1; i<reqTableRows.length; i++) {
                reqTableRows[i].remove();
            }

            let rowToCopy = reqTableRows[0];
            const table = rowToCopy.parentElement;

            //Delete previous data from the row to copy.
            const inputs = rowToCopy.querySelectorAll('input');
            inputs.forEach(input => {
                const type = input.type;

                if (type === 'checkbox') {
                    input.checked = false;
                } else {
                    input.value = '';
                }
            });

            const response = await fetch('/workorder/requirement/calculate', {
                method: 'POST',
                body: data,
                headers: { "X-CSRFToken": csrf},
            });
            const requirement = await response.json();

            rowToCopy = setTextColor(rowToCopy, requirement?.[0].Color ?? null);
            rowToCopy.children[1].children[0].value = requirement?.[0].id ?? null;
            rowToCopy.children[2].children[0].value = requirement?.[0].InventoryCode ?? null;
            rowToCopy.children[3].children[0].value = requirement?.[0].InventoryName ?? null;
            rowToCopy.children[4].children[0].value = requirement?.[0].Variant ?? null;
            rowToCopy.children[5].children[0].value = requirement?.[0].Required ?? null;
            rowToCopy.children[6].children[0].value = requirement?.[0].Ordered ?? null;
            rowToCopy.children[7].children[0].value = requirement?.[0].Received ?? null;

            for (let i=1; i<requirement.length; i++) {
                let copy = rowToCopy.cloneNode(true);
                copy.setAttribute("row",i+1);

                copy = setTextColor(copy, requirement?.[i].Color ?? null)
                copy.children[1].children[0].value = requirement?.[i].id ?? null;
                copy.children[2].children[0].value = requirement?.[i].InventoryCode ?? null;
                copy.children[3].children[0].value = requirement?.[i].InventoryName ?? null;
                copy.children[4].children[0].value = requirement?.[i].Variant ?? null;
                copy.children[5].children[0].value = requirement?.[i].Required ?? null;
                copy.children[6].children[0].value = requirement?.[i].Ordered ?? null;
                copy.children[7].children[0].value = requirement?.[i].Received ?? null;

                table.appendChild(copy);
            }

            unsavedDataFlag = true;
            
            hideLoadingIcon();
        }

        function setTextColor(row, textColor) {
            const inputElements = row.querySelectorAll('input');

            inputElements.forEach(input => {
                const classList = input.classList;
                
                const textClassesToRemove = Array.from(classList).filter(className => className.startsWith('text-'));
                
                textClassesToRemove.forEach(className => classList.remove(className));
                
                const newTextClasses = textColor.split(' ');
                classList.add(...newTextClasses);
            });

            return row;
        }
    </script>

    <script> //To get context for requirement
        async function getContextForRequirement(event) {
            showLoadingIcon();

            const source = event.target;
            const requirementId = source.parentElement.parentElement.children[1].children[0].value;
            const workOrder = document.getElementById('id_Order').value;

            const response = await fetch(`/workorder/requirement/get?id=${requirementId}&workOrder=${workOrder}`);

            if (!response.ok) {
                const errorMessage = await response.text();
                showMessage(errorMessage);

                hideLoadingIcon();
                return;
            }

            const history = await response.json();

            renderHistoryBox(event, history);

            hideLoadingIcon()
        }

        function renderHistoryBox(event, data) {
            const container = document.getElementById('historyContainer');
            const dataList = document.getElementById('historytData');
            const historyCloseButton = document.getElementById('historyCloseButton');
            
            dataList.innerHTML = '';

            const tableCellHelper = (content, isLink=false, url = '') => {
                const td = document.createElement('td');

                td.classList.add('text-center');

                if (isLink) {
                    const link = document.createElement('a');
                    link.classList.add(...'{{theme.hyperLink}}'.split(' '));
                    link.href = url;
                    link.textContent = content;
                    link.target = '_blank';
                    td.appendChild(link);
                } else {
                    td.textContent = content;
                }
                return td;
            };
            
            
            const fragment = document.createDocumentFragment();
            data.forEach(row => {
                const tr = document.createElement('tr');

                const columns = [
                    { key: 'ReceiptNo', isLink: true, url: row['url'] },
                    { key: 'ReceiptDate' },
                    { key: 'Type' },
                    { key: 'Supplier' },
                    { key: 'TotalQuantity' },
                    { key: 'AllocatedQuantity' }
                ];

                columns.forEach(column => {
                    const cell = tableCellHelper(row[column.key], column.isLink, column.url);
                    tr.appendChild(cell);
                })

                fragment.appendChild(tr);
            });
            dataList.appendChild(fragment);

            const left = event.pageX;
            const top = event.pageY;
            
            container.style.left = `${left}px`;
            container.style.top = `${top}px`;
            
            container.classList.remove('hidden');

            historyCloseButton.addEventListener('click', () => {
                container.classList.add('hidden');
            });
        }
    </script>

    <script> //To select all unordered rows of a table
        function selectAll(box) {
            const checkStatus = box.checked;

            const table = document.getElementById('requirementForm');
            const numberOfRows = table.children[0].children.length;

            for (let i=1; i<numberOfRows;i++) {
                const row = table.querySelector('[row="'+i+'"]');
                const rowCheck = row.children[0].children[0];
                const required = row.children[5].children[0].value;
                const ordered = row.children[6].children[0].value;

                rowCheck.checked = false;

                if (required-ordered > 0) {
                    rowCheck.checked = checkStatus;
                }
            }
        }
    </script>

    <script> //Update quantity from variants
        function calculateQuantity() {
            const rows = Array.from(document.getElementById('variantForm').children[0].children).slice(1);
            
            const qtyBox = document.getElementById('id_orderQty');

            let qty = 0;

            for (const row of rows) {
                const variantQty = parseInt(row.children[1].children[0].value);
                qty += variantQty;
            }
            
            qtyBox.value = qty;
        }
    </script>

    <script> //To print work order
        function showPrintBox() {
            const options = [
                {'value':'CUT', 'text':'Cutting'},
                {'value':'F&T', 'text':'Fabric and Trims'},
                {'value':'PST', 'text': 'Production Status'},
            ];
            const selectedOption = 'F&T';

            showDropDown(options, printWO, selectedOption, false);
        }

        async function printWO(selectedFormat) {
            showLoadingIcon();

            const orderBox = document.getElementById('id_Order');
            const orderNumber = parseInt(orderBox.value);

            const csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

            const obj = {'format':selectedFormat};
            const data = JSON.stringify(obj);

            const response = await fetch('/workorder/'+orderNumber+'/print', {
                method: 'POST',
                body: data,
                headers: { "X-CSRFToken": csrf, "Accept": "application/pdf"},
            });

            if (response.ok) {
                const pdfBlob = await response.blob();

                const pdfURL = URL.createObjectURL(pdfBlob);

                const win = window.open(pdfURL, '_blank');

                if (win) {
                    win.onafterprint = function() {
                        URL.revokeObjectURL(pdfURL);
                    };
                    win.focus();
                } else {
                    showMessage('Please allow pop-up access from browser');
                    URL.revokeObjectURL(pdfURL);
                }              
            } else {
                errorMessage = await response.text();
                showMessage(errorMessage);
            }
            
            hideLoadingIcon();
        }
    </script>

    <script> //To generate PO of selected items.
        async function showSelectionBox() {
            showDropDown('/options/suppliers', generatePO, null);
        }
        async function generatePO(supplier){
            const workOrder = window.location.pathname.split('/')[2];
            if (supplier == 'null') {
                showMessage('Please select a supplier.');
                showSelectionBox();
                return;
            }

            const requirementForm = document.getElementById('requirementForm');
            const rows = requirementForm.children[0].children;

            let selectedRows = [];

            for (const row of rows) {
                const rowNumber = row.getAttribute('row');
                const checkStatus = row.children[0].children[0].checked;

                if (rowNumber>0 && checkStatus) {
                    selectedRows.push(row);
                }
            }
            delete rows, requirementForm;
            
            //Prepare data to a server readable format
            let data = {};
            for (const row of selectedRows) {
                data = preparePOData(row, data);
                data['data_Supplier_'+row.getAttribute('row')] = supplier;
            }
            data = JSON.stringify(data);

            if (data == '{}') {
                //Show this message to user.
                alert('Nothing is selected.');
                return;
            } else {
                const csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
                //console.log (csrf);
                const response = await fetch('/purchaseorder/add/fromworkorder/'+workOrder, {
                    method: 'POST',
                    body: data,
                    headers: { "X-CSRFToken": csrf},
                });

                if (response.status == 200) {
                    const poNumber = await response.text();
                    window.open('/purchaseorder/'+poNumber+'/edit', '_blank');

                    await calculateRequirement();
                } else {
                    const errorMessage = await response.text();
                    showMessage(errorMessage);
                }
            }            
        }

        function preparePOData (row, data) {
            const inventoryCode = row.querySelector("[name='InventoryCode']").value;
            const variant = row.querySelector("[name='Variant']").value;
            const reqQuantity = row.querySelector("[name='Quantity']").value;
            const orderQuantity = row.querySelector("[name='Ordered']").value;
            const rowNum = row.getAttribute('row');
            
            data['data_InventoryCode_'+rowNum] = inventoryCode;
            data['data_Variant_'+rowNum] = variant;
            data['data_ReqQuantity_'+rowNum] = reqQuantity;
            data['data_OrderQuantity_'+rowNum] = orderQuantity;

            return data;
        }
    </script>

    <script> //To send data to server
        async function submitForms() {
            showLoadingIcon();
            const allForms = document.forms;

            const orderForm = allForms['orderForm']; 
            const variantForm = allForms['variantForm'];
            const requirementForm = allForms['requirementForm'];

            const order = orderForm.elements;

            let data = {};
            //Prepare the data for Order Group
            let group = 'order';
            for (const element of order) {
                if (element.name) {
                    data[group+'_'+element.name] = element.value;
                }   
            }

            //Prepare the data for variant Group
            data = formToTable('variant', variantForm, data);

            //Prepare the data for Requirement Group
            data = formToTable('requirement', requirementForm, data);

            await submitData(data);
            hideLoadingIcon();
        }

        async function submitData(obj) {
            const csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

            const data = JSON.stringify(obj);
            
            //console.log (csrf);
            const response = await fetch('', {
                method: 'POST',
                body: data,
                headers: { "X-CSRFToken": csrf},
            });

            if (response.ok) {
                unsavedDataFlag = false;

                showMessage('Saved Successfully', 3, '{{theme.successBox}}');
            } else {
                const errorMessage = await response.text();
                showMessage(errorMessage);
            }
        }

        function formToTable(group, form, data){
            let rows = form.querySelectorAll('[row]');
            //Remove unnecesary rows
            rows = dropElements(rows);

            for (const row of rows) {
                let rowNum = row.getAttribute('row');
                let cols = row.children;
                //Remove unnecessary columns
                cols = dropElements(cols, cols.length-1, cols.length-1);

                for (const col of cols) {
                    name = col.firstElementChild.name+'_'+rowNum;
                    value = col.firstElementChild.value;
                    data[group+'_'+name] = value;                    
                }
            }
            return data;
        }

        function dropElements(obj, startFrom=0, endAt=0) {
            const arr = Object.values(obj);

            arr.splice(startFrom, endAt - startFrom + 1);

            return arr;
        }
    </script>

    <script>    //To change WO
        function changePrimaryKey(source) {
            const url = `/workorder/${source.value}/edit`;
            document.location.href = url;
        }
    </script>

    <script> //To run at the start of the page. This should be at the end of the page.
        changeView('requirementForm');
    </script>
{% endblock %}