{% extends 'base.html' %}

{% block title %}
    Work Orders
{% endblock %}

{% block content %}
  {% csrf_token %}                        <!--This is to protect against CSRF attacks-->    
  <div class="{{theme.border}} {{theme.formHeading}}">
    <form action="{% url 'apparelManagement:WOs' %}" method="get" autocomplete="off">
      <div class="grid grid-cols-12 {{theme.justify}} {{theme.align}}">
        <div class="flex flex-col col-[1/4] items-center relative">
          <span class="text-sm text-gray-500 mb-1">Customer:</span>
          <select id="customerFilter" name="customerFilter" class="{{theme.dropdown}}" onclick="showSearchBox(this, '/options/customers')">
          </select>
        </div>
        <div class="flex flex-col col-[4/7] items-center">
          <span class="text-sm text-gray-500 mb-1">Search:</span>
          <input type="text" class="{{theme.textInput}}" name="searchTerm" placeholder="" value="{{searchTerm}}">
        </div>
        <div class="flex flex-col col-[7/11] items-center">
          <span class="text-sm text-gray-500 mb-1">Delivery Date:</span>
          <div class="flex items-center" id="date-range-picker" date-rangepicker datepicker-format="yyyy-mm-dd">
              <input id="startDate" name="startDate" type="text" class="{{theme.textInput}}" placeholder="Start" value="{{startDate}}">
              <input id="endDate" name="endDate" type="text" class="{{theme.textInput}}" placeholder="End" value="{{endDate}}">
          </div>
        </div>
        <div class="flex col-[11/13] btn-group {{theme.align}} justify-end ml-1">
            <button type="submit" class="{{theme.buttonBasic}}">Search</button>
        </div>
        <div class="flex col-[1/13] btn-group {{theme.align}} justify-end ml-1 mt-2">
          <a class="{{theme.buttonBasic}}" href="{% url 'apparelManagement:addWO' %}" role="button">Add Order</a>
          <a id="copyOrderButton" class="{{theme.buttonBasic}}" role="button">Copy Order</a>
          <a id="editOrderButton" class="{{theme.buttonBasic}}" role="button">View/Edit Order</a>
          <a id="deleteOrderButton" class="{{theme.buttonBasic}}" role="button">Delete Order</a>
        </div>
      </div>
    </form>
  </div>

  <div id ="workOrder_Table" class="mt-6">
      <table class="{{theme.table}}">
          <tr class = "{{theme.tableHead}}">
              <th scope="col">Select</th>
              <th scope="col">Work Order</th>
              <th scope="col">Style</th>
              <th scope="col">Customer</th>
              <th scope="col">Quantity</th>
              <th scope="col">Ex-Factory</th>
              <th scope="col">Merchandiser</th>   
            </tr>
            <tbody id="tableData" class="{{theme.tableBody}}">
              {% for data in order %}
              <tr class="{{theme.tableBodyRow}}">
                  <td><input type="radio" name="item_checkbox" class="{{theme.radio}}"></td>
                  <td>
                    <span>
                      {{ data.OrderNumber }}
                    </span>
                    <span class="material-symbols-outlined" onclick="showViewBox('{{ data.OrderNumber }}')">
                        visibility
                    </span>
                  </td>
                  <td>{{ data.StyleCode_id }}</td>
                  <td>{{ data.Customer_id }}</td>
                  <td>{{ data.Quantity }}</td>
                  <td>{{ data.DeliveryDate }}</td>
                  <td>{{ data.Merchandiser }}</td>
              </tr>
              {% endfor %}
            </tbody>
      </table>
  </div>

  <div class="{{ theme.pagination }}">
    <div class="btn-group">
      {% if page_obj.has_previous %}
        <a href="?page=1&customerFilter={{ selectedCustomer }}&searchTerm={{ searchTerm }}" class="btn btn-sm">First</a>
        <a href="?page={{ page_obj.previous_page_number }}&customerFilter={{ selectedCustomer }}&searchTerm={{ searchTerm }}" class="btn btn-sm">Previous</a>
      {% else %}
        <button class="btn btn-sm" disabled>First</button>
        <button class="btn btn-sm" disabled>Previous</button>
      {% endif %}

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&customerFilter={{ selectedCustomer }}&searchTerm={{ searchTerm }}" class="btn btn-sm">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}&customerFilter={{ selectedCustomer }}&searchTerm={{ searchTerm }}" class="btn btn-sm">Last</a>
      {% else %}
        <button class="btn btn-sm" disabled>Next</button>
        <button class="btn btn-sm" disabled>Last</button>
      {% endif %}
    </div>
  </div>

  <script>//To change the buttons based on selection in radio
    const dataTable = document.getElementById('tableData');
    dataTable.addEventListener('click', (event) => {
      const radio = event.target;
      const selectedOrder = radio.closest('tr').querySelector('td.order').textContent.trim();

      var button = document.getElementById("copyOrderButton");
      button.href = '/workorder/'+ selectedOrder + '/copy';

      button = document.getElementById("editOrderButton");
      button.href = '/workorder/'+ selectedOrder + '/edit';

      button = document.getElementById("deleteOrderButton");
      button.href = '/workorder/'+ selectedOrder + '/delete';
    });       
  </script>

  <script> //To view work order
    async function showViewBox(workOrderNumber) {
      const options = [
        {'value':'CUT', 'text':'Cut Plan'},
        {'value':'F&T', 'text':'Trims Status'},
        {'value':'T&A', 'text': 'T&A Plan'},
        {'value':'PST', 'text': 'Production Status'},
      ];
      const selectedOption = 'F&T';

      showDropDown(options, viewWO, selectedOption, false);

      async function viewWO(selectedFormat) {
        showLoadingIcon();

        const csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

        const obj = {'format':selectedFormat};
        const data = JSON.stringify(obj);

        const response = await fetch('/workorder/'+workOrderNumber+'/print', {
            method: 'POST',
            body: data,
            headers: { "X-CSRFToken": csrf, "Accept": "application/pdf"},
        });

        if (response.ok) {
          const pdfBlob = await response.blob();

          const pdfURL = URL.createObjectURL(pdfBlob);

          const win = window.open(pdfURL, '_blank');

          if (win) {
              win.onafterprint = function() {
                  URL.revokeObjectURL(pdfURL);
              };
              win.focus();
          } else {
              showMessage('Please allow pop-up access from browser');
              URL.revokeObjectURL(pdfURL);
          }
        } else {
          errorMessage = await response.text();
          showMessage(errorMessage);
        }
        hideLoadingIcon();
      }

    }
  </script>

  <script>//To run when the page loads
      window.addEventListener('load', async () => {
          //Customer dropdown
          let response = await fetch('/options/customers?search={{selectedCustomer}}');
          const customers = await response.json();
          const newRow = { "value": '', "text": "-----------" };
          customers.unshift(newRow);
          await appendOptions('customerFilter', customers, '{{selectedCustomer}}');
      });
  </script>
{% endblock %}