{% extends 'base_print.html' %}

{% block title %}
    {{order.OrderNumber}}
{% endblock %}

{% block content %}
    <div class="{{theme.border}}">
        <div class="grid grid-cols-1 my-2 {{theme.justify}} {{theme.align}}">
            <div class="flex col-[1/2] {{theme.justify}} {{theme.align}}">
                <h1 class="{{theme.titleBold}}">SOFTWOOD PRIVATE LIMITED</h1>
            </div>
            <div class="flex col-[1/2] {{theme.justify}} {{theme.align}}">
                <div class="{{theme.headingNormal}}">20-KM Off Ferozpur Road, Main Bazar Youhannabad, Lahore</div>
            </div>
            <div class="flex col-[1/2] {{theme.justify}} {{theme.align}}">
                <div class="{{theme.headingNormal}}">+92 042 35951191, info@softwoodtextiles.com</div>
            </div>
        </div>
    </div>
    
    <div class="{{theme.border}}">
        <div class="grid grid-cols-1 my-2 {{theme.justify}} {{theme.align}}">
            <div class="flex col-[1/2] {{theme.justify}} {{theme.align}}">
                <h3 class="{{theme.headingBold}}">Fabric & Trims Status</h3>
            </div>
        </div>
    </div>

    <div class="{{theme.border}}">
        <div class="grid grid-cols-11 my-2 {{theme.justify}} {{theme.align}}">
            <div class="flex col-[1/3] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <h3 class="{{theme.headingBold}}">Work Order:</h3>
            </div>
            <div class="flex col-[3/5] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <div class="{{theme.headingNormal}}">{{order.OrderNumber}}</div>
            </div>
            <div class="flex col-[6/8] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <h3 class="{{theme.headingBold}}">Style:</h3>
            </div>
            <div class="flex col-[8/12] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <div class="{{theme.headingNormal}}">{{order.StyleCode.StyleCode}}</div>
            </div>
        </div>
        <div class="grid grid-cols-11 my-2 {{theme.justify}} {{theme.align}}">
            <div class="flex col-[1/3] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <h3 class="{{theme.headingBold}}">PO Qty:</h3>
            </div>
            <div class="flex col-[3/5] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <div class="{{theme.headingNormal}}">{{cut.poQty|floatformat:0}}</div>
            </div>
            <div class="flex col-[6/8] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <h3 class="{{theme.headingBold}}">Customer:</h3>
            </div>
            <div class="flex col-[8/12] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <div class="{{theme.headingNormal}}">{{order.Customer.Name}}</div>
            </div>
        </div>
        <div class="grid grid-cols-11 my-2 {{theme.justify}} {{theme.align}}">
            <div class="flex col-[1/3] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <h3 class="{{theme.headingBold}}">Will Cut:</h3>
            </div>
            <div class="flex col-[3/5] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <div class="{{theme.headingNormal}}">{{cut.willCutQty|floatformat:0}}</div>
            </div>
            <div class="flex col-[6/8] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <h3 class="{{theme.headingBold}}">Actual Cut:</h3>
            </div>
            <div class="flex col-[8/12] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <div class="{{theme.headingNormal}}">{{cut.actualCut}}</div>
            </div>
        </div>
    </div>

    <div id="trimsTable" class="w-full">
        <div class="grid grid-cols-11 mt-4 px-3 {{theme.border}} {{theme.tableHead}}">
            <div class="flex col-[1/3] {{theme.align}} {{theme.justify}}">
                <div class="{{theme.headingBold}} {{theme.textJustify}}">Description</div>
            </div>
            <div class="flex col-[3/4] {{theme.align}} {{theme.justify}}">
                <div class="{{theme.headingBold}} {{theme.textJustify}}">Variant</div>
            </div>
            <div class="flex col-[4/5] {{theme.align}} {{theme.justify}}">
                <div class="{{theme.headingBold}} {{theme.textJustify}}">Cons.</div>
            </div>
            <div class="flex col-[5/7] {{theme.align}} {{theme.justify}}">
                <div class="{{theme.headingBold}} {{theme.textJustify}}">Limit Sizes</div>
            </div>
            <div class="flex col-[7/8] {{theme.align}} {{theme.justify}}">
                <div class="{{theme.headingBold}} {{theme.textJustify}}">Type</div>
            </div>
            <div class="flex col-[8/9] {{theme.align}} {{theme.justify}}">
                <div class="{{theme.headingBold}} {{theme.textJustify}}">Req</div>
            </div>
            <div class="flex col-[9/10] {{theme.align}} {{theme.justify}}">
                <div class="{{theme.headingBold}} {{theme.textJustify}}">Ord</div>
            </div>
            <div class="flex col-[10/11] {{theme.align}} {{theme.justify}}">
                <div class="{{theme.headingBold}} {{theme.textJustify}}">Rec</div>
            </div>
            <div class="flex col-[11/12] {{theme.align}} {{theme.justify}}">
                <div class="{{theme.headingBold}} {{theme.textJustify}}">Iss</div>
            </div>
        </div>
        {% for data in material %}
            <div class="grid grid-cols-11 x-3 {{theme.justify}} {{theme.align}} {{theme.border}}">
                <div class="flex col-[1/3] {{theme.align}} {{theme.justify}}">
                    <h5 class="{{theme.content}}">{{data.Name}}</h5>
                </div>
                <div class="flex col-[3/4] {{theme.align}} {{theme.justify}}">
                    <h5 class="{{theme.content}}">{{data.Variant}}</h5>
                </div>
                <div class="flex col-[4/5] {{theme.align}} {{theme.justify}}">
                    <h5 class="{{theme.content}}">{{data.Consumption}}</h5>
                </div>
                <div class="flex col-[5/7] {{theme.align}} {{theme.justify}}">
                    <h5 class="{{theme.content}}">{{data.SizeDetails}}</h5>
                </div>
                <div class="flex col-[7/8] {{theme.align}} {{theme.justify}}">
                    <h5 class="{{theme.content}}">{{data.Type}}</h5>
                </div>
                <div class="flex col-[8/9] {{theme.align}} {{theme.justify}}">
                    <h5 class="{{theme.content}}">{{data.Required}}</h5>
                </div>
                <div class="flex col-[9/10] {{theme.align}} {{theme.justify}}">
                    <h5 class="{{theme.content}}">{{data.Ordered}}</h5>
                </div>
                <div class="flex col-[10/11] {{theme.align}} {{theme.justify}}">
                    <h5 class="{{theme.content}}">{{data.Received}}</h5>
                </div>
                <div class="flex col-[11/12] {{theme.align}} {{theme.justify}}">
                    <h5 class="{{theme.content}}">{{data.Issued}}</h5>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}