{% extends 'base_print.html' %}

{% block title %}
    {{order.OrderNumber}}
{% endblock %}

{% block orientation %}
    landscape
{% endblock orientation %}

{% block documentName %}
    Cut Plan
{% endblock documentName %}

{% block content %} 
    <div class="{{theme.border}}">
        <div class="grid grid-cols-6 my-2 {{theme.justify}} {{theme.align}}">
            <div class="flex col-[1/2] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <h3 class="{{theme.headingBold}}">Work Order:</h3>
            </div>
            <div class="flex col-[2/3] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <div class="{{theme.headingNormal}}">{{order.OrderNumber}}</div>
            </div>
            <div class="flex col-[5/6] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <h3 class="{{theme.headingBold}}">Style:</h3>
            </div>
            <div class="flex col-[6/7] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <div class="{{theme.headingNormal}}">{{order.StyleCode.StyleCode}}</div>
            </div>
        </div>
        <div class="grid grid-cols-6 my-2 {{theme.justify}} {{theme.align}}">
            <div class="flex col-[1/2] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <h3 class="{{theme.headingBold}}">PO Quantity:</h3>
            </div>
            <div class="flex col-[2/3] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <div class="{{theme.headingNormal}}">{{summary.poQty|floatformat:0}}</div>
            </div>
            <div class="flex col-[5/6] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <h3 class="{{theme.headingBold}}">Customer:</h3>
            </div>
            <div class="flex col-[6/7] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <div class="{{theme.headingNormal}}">{{order.Customer.Name}}</div>
            </div>
        </div>
        <div class="grid grid-cols-6 my-2 {{theme.justify}} {{theme.align}}">
            <div class="flex col-[1/2] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <h3 class="{{theme.headingBold}}">Will Cut Quantity:</h3>
            </div>
            <div class="flex col-[2/3] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <div class="{{theme.headingNormal}}">{{summary.willCutQty|floatformat:0}}</div>
            </div>
            <div class="flex col-[5/6] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <h3 class="{{theme.headingBold}}">Excess Cut:</h3>
            </div>
            <div class="flex col-[6/7] {{theme.justify}} {{theme.align}} {{theme.border}}">
                <div class="{{theme.headingNormal}}">{{order.ExcessCut|floatformat:0}}%</div>
            </div>
        </div>
    </div>

    <div id="cuttingTable" class="w-full">      
        {% for var1, details in cut.items %}
            <div class="{{theme.border}}">
                <div class="grid grid-cols-1 my-2">
                    <div class="flex col-[1/2] {{theme.justify}} {{theme.align}}">
                        <div class="{{theme.headingBold}}">{{var1}}</div>
                    </div>
                </div>
                <div class="flex flex-wrap my-0 {{theme.justify}} {{theme.align}} w-full">
                    {% for data in details %}
                        <div class="flex flex-col min-w-[8rem]">
                            <div class="p-1 {{theme.align}} {{theme.justify}}">
                                <div class="{{theme.headingBold}}">{{data.Variant2}}</div>
                                <div class="{{theme.headingNormal}}">{{data.POQuantity}}</div>
                                <div class="{{theme.headingNormal}}">{{data.CutQuantity}}</div>
                                <div class="{{theme.headingNormal}}">{{data.ActualCut}}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>    
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}