<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
      <link rel="icon" href="{% static 'Logo 3x.png' %}">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <script src="https://cdn.tailwindcss.com"></script>
      <script>
        tailwind.config = {
          darkMode: 'media',
        };
      </script>

      <link href="https://cdn.jsdelivr.net/npm/daisyui@latest/dist/full.css" rel="stylesheet" type="text/css" />
      <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>

      <link rel="stylesheet" href="{% static 'style.css' %}">
      <title>
          {% block title %} Fashion OS {% endblock %}
      </title>
      
      <!--Icons from Google fonts-->
      <div>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <style>
          .material-symbols-outlined {
            font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 20;
            font-size: 14px;
            cursor: pointer;
          }
        </style>
      </div>
  </head>
  
  <body class="font-sans">         
    <!--Message Box-->
    <div id="message-container" class="fixed top-0 left-0 right-0 z-50 p-4"></div>
    
    <!--Main Body-->
    <div class="{{theme.pageBody}}">
        {% block content %} {% endblock %}
    </div>

    <!--Loading Animiation-->
    <div style="position: fixed;" id="loadingIcon" hidden>
      <span class="{{theme.loadingIcon}}">autorenew</span>
    </div>

    <script>    //To add the options for selects
      async function appendOptions (elementId, options, selected=null, removePrevious=true) {
          try {
            const element = document.getElementById(elementId);    
            
            if (removePrevious) {
              element.innerHTML = ''; 
            }
            
            const fragment = document.createDocumentFragment();

            options.forEach(optionData => {
              const option = document.createElement('option');
              option.text = optionData.text;
              option.value = optionData.value;
              if (optionData.value == selected) {
                  option.selected = true;
              }
              fragment.appendChild(option);
            });
    
            element.appendChild(fragment);
          } catch (error) {
            showMessage(`An Error occured: `+error);
          }
      }
    </script>

    <script>    //To show message to a user
      function showMessage(message, timeOut = 3, baseClass = '{{theme.errorBox}}') {
        //Get the container element
        const messageContainer = document.getElementById('message-container');

        // Create a new alert element
        const messageElement = document.createElement('div');
        //Set the correct bootstap class
        messageElement.classList.add(...baseClass.split(' '));
        messageElement.setAttribute('role', 'alert');
        
        //Add a the message and close button to the message.
        messageElement.innerHTML = `
          <span class="{{theme.messageBoxBody}}">${message}</span>
          <span class="{{theme.messageBoxClose}}">
            <span class="material-icons cursor-pointer">close</span>
          </span>`;

        //Add the message element to the container
        messageContainer.appendChild(messageElement);

        //close the message automatically after given number of seconds
        setTimeout(() => {
          messageElement.classList.replace('opacity-100','opacity-0');
          setTimeout(()=> {
              messageElement.remove();
          }, 300);
        }, timeOut * 1000);
      }
    </script>

    <script>  //To show/hide loading icon to user
      function showLoadingIcon(top=100, left=10, zIndex=9999) {
        const loadingIcon = document.getElementById('loadingIcon');

        loadingIcon.style.top = `${top}px`;
        loadingIcon.style.left = `${left}px`;
        loadingIcon.style.zIndex = zIndex;

        loadingIcon.removeAttribute('hidden');
      }

      function hideLoadingIcon() {
        const loadingIcon = document.getElementById('loadingIcon');

        loadingIcon.setAttribute('hidden','');
      }
    </script>

    <script>  //To show options dialogue box
      function showDropDown(options, onOkFunction, selected=null, searchBox=false) {
        const dialogBox = document.getElementById('dropdown');
        const dropdown = document.getElementById('id_selectDropDown');
        const okButton = document.getElementById('okButton');

        dropdown.innerHTML = '';

        for (const option of options) {
          const newOption = document.createElement('option');
          newOption.text = option.text;
          newOption.value = option.value;

          if (newOption.value === selected) {
            newOption.selected = true;
          } else {
            newOption.selected = false;
          }
          dropdown.appendChild(newOption);
        }

        okButton.onclick = onOkFunction;

        if (searchBox) {
          if ($(dropdown).hasClass("chosenSelect")) { // Check if Chosen is already initialized
            $(dropdown).trigger("chosen:updated"); // If so, just update
          } else {
              $(dropdown).chosen({
                  search_contains: true,
                  width: "100%"
              }).addClass("chosenSelect"); //Add a class to check if it has been initalized
          }
        }

        //convert the table to a bootstrap modal and show it to user.
        dialogBox.classList.remove('hidden');
        dialogBox.classList.add('flex');
      }
    </script>
  </body>
</html>