{% extends 'base.html' %}

{% block title %}
    Requisition Form
{% endblock %} 

{% block content %}
    {% csrf_token %}          <!--This is to protect against CSRF attacks-->
    <!-- Selection Form -->

    <form method="GET" id="reqForm" autocomplete="off">
        <div class="{{theme.border}}">
            <div class="grid grid-cols-4 my-2 {{theme.justify}} {{theme.align}}">
                <div class="flex col-[1/2] items-center">
                    <label class="mx-2 whitespace-nowrap">Group:&nbsp; </label>
                    <select id="id_Group" class="{{theme.dropdown}}" name="Group" onchange="changeInvDropdown(this)"></select>
                </div>
                <div class="flex col-[2/3] items-center relative">
                    <label class="mx-2 whitespace-nowrap">Inventory:&nbsp; </label>
                    <select id="id_Inventory" class="{{theme.dropdown}}" name="Inventory" onclick="showSearchBox(this, '/options/inventories')"></select>
                </div>
                <div class="flex col-[3/4] items-center">
                    <label class="mx-2 whitespace-nowrap">Department:&nbsp; </label>
                    <select id="id_Department" class="{{theme.dropdown}}" name="Department"></select>
                </div>
                <div class="flex col-[4/5] btn-group {{theme.align}} justify-end ml-1 mt-2">
                    <button type="submit" class="{{theme.buttonBasic}}">Refresh</button>
                    <button class="{{theme.buttonSecondary}}" onclick="addRequest()" type="button">Add</button>
                </div>
            </div>
        </div>
    </form>

    <!-- Inventory Selection Table -->
    <form method="POST" id="inventoryForm" autocomplete="off">
        <div class="{{theme.border}}">
            <div class="grid grid-cols-7 mt-4 x-3 {{theme.border}} {{theme.tableHead}}" row="0">
                <div class="flex col-[1/2] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.primaryHeading}} {{theme.textJustify}}">
                        <input type="checkbox" class="{{theme.checkbox}}" onclick="selectAll(this)">
                    </div>
                </div>
                <div class="flex col-[2/3] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.primaryHeading}} {{theme.textJustify}}">
                        Receipt#
                    </div>
                </div>
                <div class="flex col-[3/4] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.primaryHeading}} {{theme.textJustify}}">
                        Receipt Date
                    </div>
                </div>
                <div class="flex col-[4/5] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.primaryHeading}} {{theme.textJustify}}">
                        Variant
                    </div>
                </div>
                <div class="flex col-[5/6] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.primaryHeading}} {{theme.textJustify}}">
                        Supplier
                    </div>
                </div>
                <div class="flex col-[6/7] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.primaryHeading}} {{theme.textJustify}}">
                        Available
                    </div>
                </div>
                <div class="flex col-[7/8] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.primaryHeading}} {{theme.textJustify}}">
                        To Request
                    </div>
                </div>
            </div>
            {% for data in entries %}
                <div class="grid grid-cols-7 x-3 {{theme.justify}} {{theme.align}} {{theme.border}}" row="{{forloop.counter}}">
                    <div class="flex col-[1/2] {{theme.align}} {{theme.justify}}">
                        <input type="checkbox" class="{{theme.checkbox}}">
                    </div>
                    <div class="flex col-[2/3] {{theme.align}} {{theme.justify}}">
                        <input type="text" class="{{theme.textInput}}" value="{{data.ReceiptNumber}}" name="ReceiptNo" readonly>
                    </div>
                    <div class="flex col-[3/4] {{theme.align}} {{theme.justify}}">
                        <input value="{{data.ReceiptDate|date:'Y-m-d'}}" class="{{theme.textInput}}" name="ReceiptDate" readonly>
                    </div>
                    <div class="flex col-[4/5] {{theme.align}} {{theme.justify}}">
                        <input type="text" class="{{theme.textInput}}" value="{{data.Variant}}" name="Variant" readonly>
                    </div>
                    <div class="flex col-[5/6] {{theme.align}} {{theme.justify}}">
                        <input type="text" class="{{theme.textInput}}" value="{{data.Supplier}}" name="Supplier" readonly>
                    </div>
                    <div class="flex col-[6/7] {{theme.align}} {{theme.justify}}">
                        <input type="number" class="{{theme.textInput}}" value="{{data.Available}}" name="Available" readonly>
                    </div>
                    <div class="flex col-[7/8] {{theme.align}} {{theme.justify}}">
                        <input type="number" max="{{data.Available}}" class="{{theme.textInput}}" value="{{data.Available}}" name="Requested" onchange="checkQty(this)">
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>

    <script> //To run when the page loads
        window.addEventListener('load', async () => {
            showLoadingIcon();

            //Inventory group Dropdown
            let response = await fetch('/options/groups/inventory');
            const groups = await response.json();
            await appendOptions('id_Group', groups, '{{selectedGroup}}');

            //Inventory Dropdown
            let url = '/options/inventories';
            if ('{{selectedInv}}' != 'None') {
                url += `?search={{selectedInv}}`;
            } else {
                url += '?group={{selectedGroup}}';
            }
            response = await fetch(url);
            const inventories = await response.json();
            await appendOptions('id_Inventory', inventories, "{{selectedInv}}");

            //departments Dropdown
            response = await fetch('/options/departments');
            const departments = await response.json();
            await appendOptions('id_Department', departments, "{{department}}");

            hideLoadingIcon();
        });
    </script>

    <script>  //To change inventory dropdown based on group
        async function changeInvDropdown(source) {
            showLoadingIcon();
            const group = source.value;

            //Inventory Dropdown
            const response = await fetch("/options/inventories?group="+group);
            const inventories = await response.json();

            await appendOptions('id_Inventory', inventories);

            hideLoadingIcon();
        }
    </script>

    <script> //To select all visible rows
        function selectAll(box) {
            const checkStatus = box.checked;

            const table = box.parentElement.parentElement.parentElement.parentElement.parentElement;
            const numberOfRows = table.children[0].children.length;

            for (let i=1; i<numberOfRows;i++) {
                const row = table.querySelector('[row="'+i+'"]');
                const rowCheck = row.children[0].children[0];
                const filterStatus = (row.style.display === '');

                rowCheck.checked = false;

                if (filterStatus) {
                    rowCheck.checked = checkStatus;
                }
            } 
        }
    </script>

    <script> //To make requisition for selected items
        async function addRequest() {
            const inventoryForm = document.getElementById('inventoryForm');
            const rows = inventoryForm.children[0].children;

            let selectedRows = [];

            for (const row of rows) {
                const rowNumber = row.getAttribute('row');
                const checkStatus = row.children[0].children[0].checked;

                if (rowNumber>0 && checkStatus) {
                    selectedRows.push(row);
                }
            }

            if (selectedRows.length === 0) {
                alert('No inventory is selected');
                return
            }
            let data = {};
            for (const row of selectedRows) {
                data = prepareReqData(row, data);
            }

            const reqForm = document.getElementById('reqForm');
            const reqData = reqForm.children[0].children[0].children;

            const inventory = reqData[1].children[1].value;

            const department = reqData[2].children[1].value;  
            if (department === 'null') {
                alert('Please select your department');
                return
            }
            
            data['req_Department'] = department;
            data['req_Inventory'] = inventory;

            data = JSON.stringify(data);

            const csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

            const response = await fetch('', {
                method: 'POST',
                body: data,
                headers: { "X-CSRFToken": csrf},
            });

            if (response.ok) {
                window.location.reload();
            } else {
                const errorMessage = await response.text();
                showMessage(errorMessage);
            }
        }

        function prepareReqData(row, data) {
            const variant = row.querySelector("[name='Variant']").value;
            const Quantity = row.querySelector("[name='Requested']").value;
            const rowNum = row.getAttribute('row');

            data['data_Variant_'+rowNum] = variant;
            data['data_Quantity_'+rowNum] = Quantity;


            return data;
        }

    </script>

    <script> //This is in response to a bug where would add more qty than received
        function checkQty(source) {
            const qty = parseFloat(source.value);
            const maxQty = parseFloat(source.getAttribute('max'));

            if (maxQty < qty) {
                source.value = maxQty;
            }
        }
    </script>
{% endblock %}