{% extends 'base.html' %}

{% block title %}
    Purchase Receipt Addition
{% endblock %} 

{% block content %}
    {% csrf_token %}          <!--This is to protect against CSRF attacks-->

    <!-- The main Order form-->
    <form method="POST" id="receiptForm" autocomplete="off">
        <div class="{{theme.border}}">
            <div class="grid grid-cols-11 my-2 {{theme.justify}} {{theme.align}}">
                <div class="flex col-[1/3] items-center">
                    <label class="mx-2 whitespace-nowrap">PO:&nbsp; </label>
                    <select id="id_PO" class="{{theme.dropdown}}" name="PONumber" onclick="showSearchBox(this, '/options/purchaseorders/open', getPO)" value="{{poNumber}}"> </select>
                </div>
                <div class="flex col-[3/5] items-center">
                    <label class="mx-2 whitespace-nowrap">Invoice:&nbsp; </label>
                    <input type="text" name="Invoice" class="{{theme.textInput}}">
                </div>
                <div class="flex col-[5/7] items-center">
                    <label class="mx-2 whitespace-nowrap">Vehicle:&nbsp; </label>
                    <input type="text" name="Vehicle" class="{{theme.textInput}}">
                </div>
                <div class="flex col-[7/9] items-center">
                    <label class="mx-2 whitespace-nowrap">Bilty#:&nbsp; </label>
                    <input type="text" name="Bilty" class="{{theme.textInput}}">
                </div>
                <div class="flex col-[9/11] items-center">
                    <label class="mx-2 whitespace-nowrap">Amount#:&nbsp; </label>
                    <input type="number" name="BiltyValue" class="{{theme.textInput}}">
                </div>
                <div class="flex col-[11/12] items-center">
                    <button type="button" class="{{theme.buttonBasic}} mx-2" onclick="submitForms()">Save</button>
                </div>
            </div>
        </div>
    </form>
    
    <!--Inventory Table-->
    <div class="grid grid-cols-3 my-2 {{theme.justify}} {{theme.align}}">
        <div class="flex col-[1/3] items-center">
            <form method="POST" id="inventoryForm" autocomplete="off">
                <div class="grid grid-cols-9 my-2 {{theme.justify}} {{theme.align}}">
                    <div class="flex col-[1/4] {{theme.align}} {{theme.justify}}">
                        <div class="{{theme.primaryHeading}} {{theme.textJustify}}">
                            Inventory
                        </div>
                    </div>
                    <div class="flex col-[4/6] {{theme.align}} {{theme.justify}}">
                        <div class="{{theme.primaryHeading}} {{theme.textJustify}}">
                            Variant
                        </div>
                    </div>
                    <div class="flex col-[6/8] {{theme.align}} {{theme.justify}}">
                        <div class="{{theme.primaryHeading}} {{theme.textJustify}}">
                            Quantity
                        </div>
                    </div>
                    <div class="flex col-[8/10] {{theme.align}} {{theme.justify}}">
                        <div class="{{theme.primaryHeading}} {{theme.textJustify}}">
                            Unit
                        </div>
                    </div>
                </div>
                {% for data in inventory %}
                    <div class="grid grid-cols-9 {{theme.justify}} {{theme.align}} {{theme.border}}" row="{{forloop.counter}}">
                        <div hidden>
                            <input type="number" value="{{data.id}}" name="POInvId">
                        </div>
                        <div class="flex col-[1/4] {{theme.align}} {{theme.justify}}">
                            <input type="text" class="{{theme.textInput}}" value="{{data.Name}}" name="Name" readonly>
                        </div>
                        <div class="flex col-[4/6] {{theme.align}} {{theme.justify}}">
                            <input type="text" class="{{theme.textInput}}" value="{{data.Variant}}" name="Variant" readonly>
                        </div>
                        <div class="flex col-[6/8] {{theme.align}} {{theme.justify}}">
                            <input type="number" class="{{theme.textInput}}" value="{{data.Quantity}}" name="Quantity">
                        </div>
                        <div class="flex col-[8/10] {{theme.align}} {{theme.justify}}">
                            <input type="text" class="{{theme.textInput}}" value="{{data.Unit}}" name="Unit" readonly>
                        </div>
                    </div>
                {% endfor %}
            </form>
        </div>
        <div class="flex col-[3/4] items-center">
            Context Box
        </div>
    </div>

    <script> //To run after page loads.
        window.addEventListener('load', async () => {
            showLoadingIcon();

            //Purchase Order dropdowns
            response = await fetch('/options/purchaseorders/open?search={{poNumber}}');
            const pos = await response.json();
            await appendOptions('id_PO', pos, '{{poNumber}}');

            hideLoadingIcon();
        });
    </script>

    <script> //To send data to server
        function submitForms() {
            const allForms = document.forms;

            const receiptForm = allForms['receiptForm']; 
            const inventoryForm = allForms['inventoryForm'];

            const poNumber = parseInt(document.getElementById('id_PO').value);
            if (!poNumber) {
                showMessage('PO Number is mandatory');
                return;
            }
            
            const receipt = receiptForm.elements;

            let data = {};
             
            //Prepare the data for Style Group
            let group = 'receipt';
            for (const element of receipt) {
                if (element.name) {
                    data[group+'_'+element.name] = element.value;
                }   
            }

            //Prepare the data for inventory Group
            data = formToTable('inventory', inventoryForm, data);
            
            submitData(data)
        }

        //Convert data to Json and send to server
        async function submitData(obj) {
            const csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
            
            const data = JSON.stringify(obj);
            
            //console.log (csrf);
            const response = await fetch('', {
              method: 'POST',
              body: data,
              headers: { "X-CSRFToken": csrf},
            });

            if (response.status == 200) {
                const recNumber = await response.text();
                window.location.href = recNumber+'/edit';
            } else {
                const errorMessage = await response.text();
                showMessage(errorMessage);
                return
            }
            
        }

        function formToTable(group, form, data){
            let rows = form.querySelectorAll('[row]');

            for (const row of rows) {
                let rowNum = row.getAttribute('row');
                let cols = row.children;

                for (const col of cols) {
                    name = col.firstElementChild.name+'_'+rowNum;
                    value = col.firstElementChild.value;
                    data[group+'_'+name] = value;               
                }
            }
            return data;
        }
    </script>

    <script> //To get the data for the PO
        async function getPO (source) {
            const poNumber = source.value;
            const currentUrl = new URL(window.location.href);

            currentUrl.search = '';
            currentUrl.searchParams.append('poNumber',poNumber);

            window.location.href = currentUrl.href;
        }
    </script>
{% endblock %}