{% extends 'quality_base.html' %}

{% block title %}
    Trims Audit
{% endblock title %}


{% block content %}
    {% csrf_token %}         <!--This is to protect against CSRF attacks-->
    <div id="auditTable" name="auditTable">
        <form method="post" id="auditForm" autocomplete="off">
            
            <div class="grid grid-cols-2 {{theme.justify}} {{theme.align}}">
                <div class="flex col-[1/2] {{theme.align}} {{theme.justify}}">
                    <input class="{{theme.textInput}}" readonly
                        value="Supplier: {{audit.supplier}}, Receipt: {{audit.ReceiptNumber}}">
                </div>
                <div class="flex col-[2/3] {{theme.align}} {{theme.justify}}">
                    <input class="{{theme.textInput}} bg-dark text-white mb-1" readonly
                        value="{{audit.Inventory}} {% if audit.Variant %} ({{audit.Variant}}) {% endif %}">
                    
                    <input class="{{theme.textInput}} mb-2" readonly
                        value="Total Qty: {{audit.Quantity}}, Audit Qty: {{audit.AuditQuantity}}">
                </div>  
            </div>
            <div class="grid grid-cols-4 {{theme.justify}} {{theme.align}}">
                <div class="flex col-[1/2] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.primaryHeading}} {{theme.textJustify}}">
                        Check List
                    </div>
                </div>
                <div class="flex col-[2/3] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.primaryHeading}} {{theme.textJustify}}">
                        Approval
                    </div>
                </div>
                <div class="flex col-[3/4] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.primaryHeading}} {{theme.textJustify}}">
                        Comments
                    </div>
                </div>
                <div class="flex col-[4/5] {{theme.align}} {{theme.justify}}">
                    <div class="{{theme.primaryHeading}} {{theme.textJustify}}">
                        Actions
                    </div>
                </div>
            </div>
            
            {% for data in audit.audit %}
                <div class="grid grid-cols-4 x-3 {{theme.justify}} {{theme.align}} {{theme.border}}" row="1">
                    <div hidden>
                        <input name="id" value="{{data.id}}">
                    </div>
                    <div class="flex col-[1/2] {{theme.align}} {{theme.justify}}">
                        <select class="{{theme.dropdown}}" name="CheckList">
                            {% for option in checkListOptions %}
                                <option value="{{option.value}}" 
                                {% if option.value == data.CheckList %}
                                    selected
                                {% endif %}
                                     >{{option.text}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="flex col-[2/3] {{theme.align}} {{theme.justify}}">
                        <select class="{{theme.dropdown}}" name="Approval">
                            <option value="null" 
                            {% if data.Approval == None %}
                                selected
                            {% endif %}
                                 >Pending</option>
                            <option value="true"
                                {% if data.Approval == True %}
                                    selected
                                {% endif %}
                                >Approved</option>
                            <option value="false"
                                {% if data.Approval == False %}
                                    selected
                                {% endif %}
                            >Rejected</option>
                        </select>
                    </div>
                    <div class="flex col-[3/4] {{theme.align}} {{theme.justify}}">
                        <input type="text" class="{{theme.textInput}}" value="{{data.Comments}}" name="Comments">
                    </div>
                    <div class="flex col-[4/5] {{theme.align}} {{theme.justify}}">
                        <button class="{{theme.plusButton}}" type="button" onclick="addRow(this)">
                            <span>+</span>
                        </button>
                        <button class="{{theme.minusButton}}" type="button" onclick="removeRow(this,2)">
                            <span>-</span>
                        </button>
                    </div>
                </div>
            {% endfor %}
        <div class="flex col items-center">
            <a class="{{theme.buttonBasic}}" role="button" onclick="submitForms()">Save</a>
        </div>
        </form>
    </div>

    <script>    //This code runs when the page is fully loaded.
        window.addEventListener('load', async () => {
            showLoadingIcon(200);

            showErrorMessage();

            hideLoadingIcon();
        });

    </script>

    <script>    //To show error message to user
        function showErrorMessage() {
            const errorMessage = '{{error}}';
            if (errorMessage) {
                showMessage(errorMessage);
            } 
        }
    </script>

    <script>    //To send data to server
        async function submitForms(){
            showLoadingIcon();

            const audit = document.forms['auditForm'].elements;

            let data = {};
            for (const element of audit) {
                if (element.name) {
                    const rowNum = element.parentElement.parentElement.getAttribute('row');
                    data[`Group_${element.name}_${rowNum}`] = element.value;
                }
            }
            try {
                const response = await submitData(data);

                window.location.href = '/trims/audit';
            } catch (e) {
                showMessage(error);
                hideLoadingIcon();
            }
        }

        async function submitData(obj) {
            const data = JSON.stringify(obj);

            const csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
            
            const response = await fetch('', {
                method: 'POST',
                body: data,
                headers: { "X-CSRFToken": csrf},
            });
            
            if (response.ok) {
                return response
            } else {
                error = await response.text()
                throw error
            }
        }
    </script>
{% endblock content %}